[2018-03-27 12:00] stefanjudis opened #1 "Author Wanted: How to build in your serverless Slack community onboarding"

[2018-03-27 12:01] stefanjudis opened #2 "Author Wanted: Caching GraphQL - how to play nice with CDNs"

[2018-03-27 12:02] stefanjudis opened #3 "Author Wanted: The state of static - framework 2019"

[2018-03-27 12:33] stefanjudis opened #4 "Rest to GraphQL - how to proxy a REST API into a GraphQL API"

[2018-03-27 12:34] stefanjudis opened #5 "Choosing the right static site generator for your project's docs"

[2018-03-27 12:34] stefanjudis opened #6 "Author Wanted: serverless framework, claudia.js, ... what's the silver bullet?"

[2018-04-04 10:12] HoverBaum opened #7 "The rise of headless CMS"
I would like to talk about benefits of headless CMS over traditional systems such as Wordpress or Drupal.

I picture going through some personal experiences as a developer and also exploring business benefits and concerns in regards to going headless.

[2018-04-04 11:32] stefanjudis commented on #7
@HoverBaum That sounds great!

[2018-04-04 12:58] connor-baer opened #8 "Building a multi-lingual website with Contentful and NextJS"
[SumUp](https://sumup.com) recently launched a new modular website serving 32 countries in 36 languages. In a talk at the Contentful Meetup Berlin, I shared how we leverage the flexibility of Contentful to build a highly modular content structure, dove into the challenges we faced with localization, and shared lessons learned while optimizing the website for performance. Here's the recording for r

[2018-04-04 13:09] stefanjudis commented on #8
That sounds great @connor-baer! I already enjoyed the talk and would love to see it written down. :)

[2018-04-04 14:09] HoverBaum commented on #7
Did a gist: https://gist.github.com/HoverBaum/ec9e8290218834420773be3b28829c2b

Actually have a rough first draft of this from which I extracted the outline. Might be getting this backwards a bit. Haven't really taken that much of a structured approach with posting before.

[2018-04-05 12:13] stefanjudis commented on #7
Hey Hendrik,

when you have a draft of this already, I guess, then we can skip the outline part and you could share the draft with me and I'll introduce our editorial team. :)

A google doc would be great - as it's the best way to collaborate. Then you could share it with me `stefan.judis@contentful.com` and we could start having a look at it. :)

[2018-04-05 15:28] HoverBaum commented on #7
Shared it with you @stefanjudis, really just a first draft though 😉

[2018-04-06 11:43] stefanjudis commented on #7
@HoverBaum It looks promising. :) Made a bunch of comments.

Thanks a lot for this!

[2018-04-07 09:28] HoverBaum commented on #7
Thanks for the input 👍

I will work through it next week.

[2018-04-12 18:44] allanwhite opened #11 "It's all about relationships: Keeping your data model simpler, more reusable, and powerful"
We use Related entry types pretty heavily for our implementation of Contentful that drives [datica.com](datica.com). I made a decision early on to make a clear distinction between "article/page" type entries (larger pieces of content that have a fixed URL) and "related bits" that plug into those larger pieces, that represent fundamental reusable entities. These types include:

- Calls to action (C

[2018-04-12 19:13] allanwhite opened #12 "Contentful for Designers and Front-Enders: What You Need To Know"
As a designer, UX and front-end practitioner (aka a non-engineer), using Contentful to solve my business problem (building our new website) was definitely a tough technical challenge. For those evaluating Contentful for marketing/communication projects, I'd examine a few pros, cons, and considerations for non-developers. A few areas I might explore:

### What can I or my team do in-house?
Contentf

[2018-04-12 19:18] allanwhite opened #13 "Trends in Content Management"
Looking at the proposals in this list here, it's clear to me that there's a lot happening (!) in this space. It would be interesting to get a bunch of different perspectives on what people are asking for, what kinds of business problems are involved, and how other CMSs approach them.

[2018-04-12 19:20] allanwhite opened #14 "What are the top feature requests from Contentful users?"
I know I have a wish list, what are others asking for? What are some that might or might not align with Contentful's roadmap or business model?

[2018-04-12 19:25] allanwhite commented on #6
I really liked your [post](https://www.contentful.com/blog/2018/04/11/new-era-static-sites-rise-future/) from the other day, I've been keen to learn Vue as a way to either build the next version of our site, or at the least, power some more flexible list views for our site (that need more dynamic input than a static site alone). Internal tools (like a customer dashboard or sales tool that integrat

[2018-04-13 08:37] stefanjudis commented on #14
I second that it's useful to know what others are asking for. I think though, that a blog post may no be the perfect medium for this content.

https://www.contentfulcommunity.com/ might be a better place? There are e.g. [discussions going into this direction](https://www.contentfulcommunity.com/t/what-contentful-integrations-would-you-love-to-see-us-build/822).

[2018-04-13 08:39] stefanjudis commented on #12
Hey Allan. 👋 Thanks for submitting this idea. :)

I would love to read this! If you wanna take it to the editorial board, we'd be happy to work with you on that. :)

[2018-04-13 08:41] stefanjudis commented on #11
Hey Allan. 👋 Thanks for submitting this idea. :)

I also really like this one – in case you wanna move it to [the editorial pipeline](https://github.com/contentful/contribution-program/projects/1) let me know. :)

[2018-04-13 18:40] allanwhite commented on #11
@stefanjudis Do it!

[2018-04-13 18:42] allanwhite commented on #14
Great point @stefanjudis - maybe an idea for you later, to curate those or have some kind of round table format for a blog post. "hot ideas from the community" or whatever.

[2018-04-13 18:42] #14 closed

[2018-04-14 19:27] carolstran commented on #5
Not sure if this issue is up for grabs or not, but sent you a message on Twitter about it!

[2018-04-16 07:32] stefanjudis commented on #11
Wooohooo. Great! Done. 🎉

If you could provide us with [an outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) before starting to write we could give feedback and share ideas! :)

[2018-04-16 07:36] stefanjudis commented on #6
It be its own article then, though. This issue here, is more about serverless frameworks that help dealing with lambda and such. :)

[2018-04-16 07:36] stefanjudis commented on #5
We'd love to see a comparison about that... If you'd be up for doing it – I'm happy to move you to the editorial pipeline. :)

[2018-04-16 10:40] carolstran commented on #5
Sure, sign me up 🎉

[2018-04-17 09:04] stefanjudis commented on #8
If you could provide us [a quick outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) that'd be great. 😊

Can be quick though, as we've seen the talk already. :)

[2018-04-17 13:14] robertsvensson commented on #7
Hi @HoverBaum
I'm Robert, Technical Writer for Contentful, and I'll be your editor for this project.

Your draft already looks great and I left a few comments in the gdoc for you to consider.

[2018-04-17 18:46] stefanjudis commented on #5
[Done](https://github.com/contentful/contribution-program/projects/1).

Next step would be to provide [an outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) so that our editorial team can have a look at it and give guidance!

Thanks Carolyn!

[2018-04-22 10:05] tomsansome opened #15 "Building a static portfolio site with Contentful, Next.js and Netlify"
This began as a talk at the London Contentful Dev Meetup on 10th April.

I recently re-built my portfolio to be a static site using Contentful, Next.js and Netlify to produce something fast and easy to maintain.

This post will go from starting up a new project, to hosting, and even include using Contentful Webhooks and Netlify Build hooks to update content.

The original talk can be found here as

[2018-04-24 07:01] robertsvensson commented on #15
This is a great idea. A Contentful / Netlify integration using webhooks is something I believe a lot readers will find interesting.

Do you already have a written draft somewhere?

[2018-04-24 10:43] tomsansome commented on #15
Hey @robertsvensson – I have this draft here, which will need updating to have inline code blocks, not images of code 😆

...I was wondering before I go through and edit this, should I even bother with the code block swap, as I'm only going to have to type it up again on your platform (where I could do the swap from images of code to inline code blocks)?

Please say if I've not made any sense there

[2018-04-24 11:34] robertsvensson commented on #15
hey @tomsansome — The draft looks very good.

It would be great if you could swap the images for code blocks in the Medium post, and then I'll copy all of it into our Contentful blog space.

[2018-04-24 12:14] tomsansome commented on #15
@robertsvensson Ok great, I'll go ahead and do that on the post as soon as I can, I'll let you know on here when I'm done 👍

Thanks!

[2018-04-24 17:16] allanwhite commented on #11
## Outline

- Introduction: In this post, I'll look at how we identified these data types, and leveraged the Related Entries features of Contentful for running our marketing site, Datica.com.
- Elegance: between complexity and power
- Assessing your content model. How did we go about deciding which fields to make referenced fields, and which to remain as part of the core entry?
  - Example: A Blog

[2018-04-24 18:34] allanwhite commented on #15
Love this topic, I'm looking at this set of problems as well.

[2018-04-24 18:42] tomsansome commented on #15
Great, hopefully this will help out in some way @allanwhite 😀

[2018-04-25 06:57] robertsvensson commented on #7
@HoverBaum Could you give me editing rights to the gdoc and I'll take it into editing mode?

[2018-04-26 10:57] robertsvensson commented on #11
@allanwhite Hey Allan, I'm Robert and I'll be your copy editor. Both the outline and the draft look very promissing. I'll move you forward to "draft in progress".

[2018-04-26 13:55] robertsvensson commented on #15
Note to self: feature image ordered MD-95

[2018-04-26 13:56] robertsvensson commented on #7
Note to self: feature image ordered MD-93

[2018-04-26 14:00] robertsvensson commented on #11
Note to self: feature image ordered MD-97

[2018-04-26 14:03] robertsvensson commented on #5
Note to self: feature image ordered

[2018-04-26 16:47] HoverBaum commented on #7
@robertsvensson granted you access.

[2018-04-27 07:53] robertsvensson commented on #7
@HoverBaum I've made my round of editing. Read it through and let me know if you think it's good enough to be published.

[2018-04-27 09:31] tomsansome commented on #15
Hi @robertsvensson, this post has been updated now – https://medium.com/@tomsansome/building-a-portfolio-site-with-contentful-next-js-and-netlify-7db6ad67dee2 👍

[2018-04-28 07:13] robertsvensson commented on #7
@HoverBaum Your suggestion looks good to me.

The next step is for me to move the gdoc content into our preview environment. I will e-mail you a link once that's done.

[2018-05-01 13:17] connor-baer commented on #8
- [ ] Building a dynamic, multilingual website
- [ ] What you will learn today
- [ ] Prerequisites
- [ ] A new website for SumUp
  - [ ] Our previous tech stack (and its pains)
  - [ ] New requirements: modular + scalable
- [ ] Contentful + NextJS save the day
  - [ ] Content structure
    - [ ] 32 countries — one space
    - [ ] Every page is a route
    - [ ] Sharing data between pages
  - [ ] L

[2018-05-01 18:18] jepser opened #16 "Why and how I moved from WordPress to a Contentful + React + nextjs stack."
I have an article on my blog (in Spanish), explaining why and how I move my 6 years old WordPress site to a Contentful powered site.

https://jepser.com/articles/de-wordpress-a-un-sitio-estatico/

I think giving a more technical approach and also in English could be helpful for people that are thinking to do the same.

[2018-05-03 09:54] bradsoo commented on #16
Hi @jepser
I'm Brad, Technical Writer for Contentful. Sounds like interesting - but the first thing we would need is an outline of your article in English. After evaluating that, we can move things along to the editorial pipeline.
Thanks!

[2018-05-07 12:39] bradsoo commented on #15
Hi @tomsansome I work with Robert and I've taken a look at your post.
It looks like your article would be better suited for publishing on dev.to. Our proposition is to publish onto dev.to first and then later make the post available on the Contentful blog and add you to the community page. Is this something you would be agreeable to?

P.S. The contribution program is still very fresh out the gate

[2018-05-07 15:00] tomsansome commented on #15
Hey @bradsoo – I got the first message you sent over before this was edited, and it mentioned publishing to dev.to, I know you have now taken that away but if you are not feeling confident about having the post on Contentful I am happy to take feedback you may have to improve it so that you are comfortable with it going on there, if that was the problem?

There has been nothing else that has been

[2018-05-07 15:01] tomsansome commented on #15
@bradsoo, happy to take comments/feedback over here if that's helpful to you – https://medium.com/@tomsansome/building-a-portfolio-site-with-contentful-next-js-and-netlify-7db6ad67dee2

[2018-05-07 15:54] bradsoo commented on #15
@tomsansome Oh no, contrary to that - your article is great and we've got lots of confidence in it being posted on the blog. In fact, we're confident in it and want it to perform well; which is why the team decided to undo the change of course in my initial reply and go ahead with the initial plan.

Right now, we're looking at the possibility to expand article posting across different sites/public

[2018-05-07 16:05] tomsansome commented on #15
@bradsoo ok that's great 👍 fully understood. I wanted to be open to feedback if needed, so thanks for explaining.

Looking forward to seeing the blog post up on the site, thanks for letting me know about that!

[2018-05-09 12:16] bradsoo commented on #15
@tomsansome Sure, just to let you know, your article is now live on the blog: https://www.contentful.com/blog/2018/05/09/building-portfolio-website-contentful-nextjs-netlify/

Please have a look and let me know your thoughts.
Also, the article is a bit heavy on screenshots (I counted 32) so I'm thinking of removing some images which explain some of the more obvious or simpler procedures.

[2018-05-09 12:48] tomsansome commented on #15
@bradsoo, thanks for sending the link, this looks great! I'd agree with removing a few screenshots, that's fine by me!

I noticed a few things:
- Line 1 here needs a closing `'` - https://cl.ly/rS5d
- Very minor, could we add a little spacing here please? https://cl.ly/rSaT

...otherwise, I think it's all good.

Thanks again!

[2018-05-09 14:17] bradsoo commented on #15
@tomsansome Cool, thanks. I've made the changes and removed 2 screenshots: the one with the blank package.json fiel and the one referencing the Next.js repo (replaced image with link instead).

Thank you again for your contribution!

[2018-05-09 18:06] allanwhite commented on #11
@robertsvensson Hi Robert - am I waiting for you to edit copy, or do you need something from me? I plan on providing some graphics & screenshots to illustrate the components. Let me know here or on Contentful Slack - thanks.

[2018-05-09 18:08] allanwhite commented on #12
@stefanjudis Notify me if this goes to the Pipeline, or let me know what needs to be done editing-wise. Thanks.

[2018-05-09 18:55] robertsvensson commented on #11
@allanwhite Hi Allan. I have everything I need from your side. Our editorial team will start working on the copy on Friday. Let me know when the graphics & screenshots are ready. Thanks!

[2018-05-14 14:01] bradsoo commented on #16
@jepser Just a quick check in on how you're doing? Do you have any questions, concerns. etc?

[2018-05-15 07:11] stefanjudis commented on #12
Hey @allanwhite, sorry for the delay.

I think this core is very useful!

I'm not really sure about "What's the cost/benefit angle look like to decision-makers?" because the points are rather technical and read like a feature list.

The first three points make complete sense to me. 👍 🎉

[2018-05-18 19:44] ldthorne opened #18 "Building common.com with Contentful, Next.js, S3, and Slack"
Hi there, I've been thinking of writing about how my team built [common.com](https://www.common.com), a static site powered by Contentful and Next.js, how we support our Content team in enabling them to iterate quickly, and what we've learned along the way. I'd love to get some guidance and feedback regarding what would be interesting to write about and how to approach it. Looking forward to speak

[2018-05-20 10:11] stefanjudis commented on #18
@ldthorne

Hey Daniel,

this sounds great! First thing is to provide [an outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) (GDoc would be great but we can work with whatever works best for you). A well structured outline gives you and us a better feeling of what you want to say. The core of a good article follows a narrative. :)

For me all of these three topics w

[2018-05-20 21:36] jepser commented on #16
Outline:
- Six years of WordPress, explain what was before and why I liked it
- The issues, there was space for improvement, which things were not as smooth as I wanted
- My requirements, which things I wanted to solve or improve
- The proposal, let's overview the technologies that met my requirements
- The outcome, what's now and next

If you want, I can go in more detail but I think this gives a

[2018-05-23 12:56] bradsoo commented on #16
@jepser thanks, this is helpful and content like that would have a place on our blog. I had a look at your article via (not so great) Google Translate - your article would be based on that, right? Do you happen to already have a draft of your article written in English?

[2018-05-23 13:20] bradsoo commented on #16
@jepser thanks, this is helpful and content like that would have a place on our blog. I had a look at your article via (not so great) Google Translate - your article would be based on that, right? Do you happen to already have a draft of your article written in English?

I'm curious also to see:
- How the new solution/proposal also kept the things you liked from the days you were using Wordpress
-

[2018-05-23 13:28] jepser commented on #16
Those are good questions:
- I can follow up that and add it to the article
- I don't have past data so it will difficult to compare it, perhaps from DX I can elaborate

[2018-05-23 13:31] stefanjudis commented on #16
I'd love to learn more about your DX experience. 👍🏻

[2018-05-23 13:38] jepser commented on #16
Sure, I will create the article's outline following your guide, and post it here once I have it.

[2018-05-23 13:43] bradsoo commented on #16
Great, looking forward to seeing what you have to write :)

[2018-05-28 06:55] robertsvensson commented on #11
@allanwhite Hi Allan - have you had a chance to look at the gdoc I shared with you? Thanks!

[2018-06-07 09:41] stefanjudis commented on #18
Hey @ldthorne, 👋🏻

how's life? :) Do you need anything from my side? Let me know if I can help somehow. :)

[2018-06-15 15:05] jeremenichelli opened #19 "Faster boot up times for static sites with Rollup"
Hi there!

I have this already completed draft about bundlers and how Rollup might be a better fit for static sites. I don't know if it fits the topics that are expected room this Contribution Program, if that's the case I'm more than OK to post it somewhere else, but first I wanted to check if you are interested on hosting it.

Gist draft: https://gist.github.com/jeremenichelli/12c09cee1bc826b71e

[2018-06-18 15:24] bradsoo commented on #19
Hi @jeremenichelli, I'm Brad, Technical Writer for Contentful. I'll be your editor for this project.

That looks like an excellent draft - I'll put this in a Google Doc so I can work on it with the team. Then we can move this along and get it up online as quickly as we can!

[2018-06-18 16:40] jeremenichelli commented on #19
Awesome Brad, that sounds great considering I need new socks 😛

I'll be waiting for feedback in case there's need of some big rewrite or rephrasing. Thanks!

[2018-07-04 14:14] bradsoo commented on #16
Hi @jepser, hope everything is alright with you. Just wanted to check in on the article draft and if you needed help with anything. Please let me know if you're still interested in having your article published with us.

[2018-07-04 14:23] bradsoo commented on #5
Hey @carolstran I'll be taking over as editor for your piece. I heard earlier last month that your schedule was going to be packed - any chance you managed to find some time to work on this yet? I'm ready when you are and I look forward to hearing from you. Thanks!

[2018-07-04 14:52] carolstran commented on #5
Hey @bradsoo! Good to hear from you. To be honest, this totally fell off my plat. I lost focus on a direction (talked to Robert a bit about it, but not so sure that's the way to go now...). Can I email you to run some ideas by you?

[2018-07-04 17:47] katchja commented on #11
@allanwhite My team is just starting to explore headless CMS for an app, which has components of ecommerce and content marketing. Hence, CTAs are important. We want to test them, experiment with very short, snappy offers and with long-form content - such as a story about how a product was done.
We haven't started using Contentful, but from your post it seems it should be possible to edit, create a

[2018-07-05 08:38] jepser commented on #16
Sorry, I was off, yes :) I will continue working on that next week, so hear news from me soon.

[2018-07-06 13:00] bradsoo commented on #5
Hi @carolstran, sure! Send them my way: brad -dot- soo.

[2018-07-11 14:14] bradsoo commented on #19
Hi @jeremenichelli, thanks for your draft and patience! I got to dive into what you've written earlier this week and have placed it in this GDoc with my edits and comments:

https://docs.google.com/document/d/1yHPUC3RuS75zsIkUwYuyj4H9Vpb1vGgTm-cnvm0OxC4

I've already ordered a feature image for your article and that's already been completed by our designer. So with your input and edits (and of cou

[2018-07-11 15:06] jeremenichelli commented on #19
Awesome @bradsoo, I just requested access to the draft so I can read the feedback and make corrections to the article if necessary.

[2018-07-12 11:32] bradsoo commented on #19
@jeremenichelli I granted access earlier today (FYI). Thanks for the super fast responses too!

[2018-07-12 23:06] jeremenichelli commented on #19
@bradsoo If we are not really in a hurry, I will like to try come up with a simple jekyll showcase to see if I get meaningful numbers to post in the article as Stefan suggested. What do you think?

[2018-07-13 07:47] stefanjudis commented on #19
@jeremenichelli That sounds great and I'd love to see that! ❤️ 🤞🏻 👍🏻

[2018-07-13 08:42] jeremenichelli commented on #19
We'll put some work around that over the weekend.

[2018-07-13 08:43] bradsoo commented on #19
Sounds good, looking forward to seeing that!

[2018-07-15 10:51] jeremenichelli commented on #19
Hi @bradsoo and @stefanjudis, I gave it a try this weekend and probably because of my sample snippets not being _heavy enough_ the results that I had were not conclusive to actual do a strong statement as I'm doing in this article.

So, currently I'm having a lot of second thoughts about releasing this. If some of you have an idea on how to shift the title or tone of the article to make it valuabl

[2018-07-16 15:53] stefanjudis commented on #19
@jeremenichelli

We're not too tied to the static sites connection and would still love to publish the piece. :)

So I think we could cut out the static sites connections here and there it'd be still a good piece. What do you think?

Good luck with the conferences! ;)

[2018-07-16 22:34] jeremenichelli commented on #19
Thanks for being open about the topics, the thing is that the whole purpose was to show how I was bundling the script on my static site avoiding usual bundlers overhead. If there's no measurable advantage I would need to shift the whole article axis of topic.

I'll need time to see if something comes to my mind. If any of you have any suggestion for a new direction the article can take I'm open to

[2018-07-25 08:40] stefanjudis commented on #19
Ja, understood. :)

that's a bummer – but yeah, if we didn't come to the wished conclusions it's kinda missing the point. :(

I think for now we can close here then, but if you wanna write in the future let us know, @jeremenichelli . :)

[2018-07-25 08:40] #19 closed

[2018-07-25 09:15] jeremenichelli commented on #19
Yeap, makes total sense.

Sorry for the noise, and thanks for the proofreading and recommendations.

[2018-07-25 09:16] stefanjudis commented on #19
No worries. :)

[2018-08-01 09:36] mkorbi opened #20 "Boost you Serverless backend with GraphQL and Prisma (formerly Graphcool)"
I would like to write a blog article about building a Serverless based GraphQL implementation with the help of Graphcool.

The article will be in a format of a walkthrough of using Graphcool to get your serverless GraphQL backend up & running, so it will allow you to get your own stuff implemented within no time.

[2018-08-01 15:18] stefanjudis commented on #20
@mkorbi Hey Max,

this sounds great! I've got one question though. :) Didn't the folks from graphcool decide to go all in with prisma, now? Would writing about prisma be an option too?

Either way, i think it's good stuff though! 🎉

[2018-08-02 10:38] mkorbi commented on #20
Yeah you are right. Prisma is the way to go :)

[2018-08-02 11:11] stefanjudis commented on #20
@mkorbi Cool! Then let's do it. 🎉

Next step would be to provide a planned outline (gist, gdoc, whatever works best for you) and then we can get this started. :)

[2018-08-02 12:56] jepser commented on #16
@bradsoo I don't know why my last comment is not here (written 2 weeks ago), which is the best format to share the progress with you?

[2018-08-06 05:37] stefanjudis commented on #16
heyo @jepser,

whatever works best for you. :) gdoc works great though, because then we can have a nice editorial flow. :)

[2018-08-06 16:43] jepser commented on #16
Here the first draft: https://docs.google.com/document/d/1PPX1QUL4zss8DaD-QxJlTlIYe0Z4FutbrSWxqyceiYY/edit?usp=sharing let me know your comments.

[2018-08-08 22:14] stefanjudis commented on #16
@jepser Hey Jepser. FYI so far I was only able to have a quick look but I'll have a detailed look tomorrow. :)

[2018-08-09 12:47] stefanjudis commented on #16
@jepser I added some comments here and there. :)

[2018-08-10 13:17] jepser commented on #16
I updated the article @stefanjudis please let me know your comments.

[2018-08-14 10:47] stefanjudis commented on #20
hey @mkorbi, anything I can help you with here? :)

[2018-08-17 12:27] mkorbi commented on #20
@stefanjudis you can find the outline here https://gist.github.com/mkorbi/4961b132687b0149874ed5f50e713e49

[2018-08-17 19:10] connor11528 opened #21 "Reposting articles on serverless and static sites"
Hi there,

I have a few articles on static sites and serverless that I'd like to repost as part of the Contentful contribution program. On the landing page it mentions $100 Amazon card for a repost. I'd be happy to make edits to the articles where necessary to provide the most value for our audience!

Static sites:
- Host a Vue.js website on Amazon S3 ([article link](https://medium.com/point-of-vu

[2018-08-18 12:34] nicholashagen opened #22 "GraphQL : Pros and Cons of Backends (REST, DBs, etc)"
I’d be interested in doing an article on showing the advantages and disadvantages of backing GraphQL with REST vs straight to the data tier, as well as showing how GraphQL fits into various tiers of an organization (data tier, product tier, etc)

[2018-08-19 15:45] forethoughtde opened #23 "Article suggestion: How to leverage Contentful to built a single page portfolio site using Vue.js?"
Hello there,

I am interested in writing a blog post about using Contentful with Vue.js to build a single page portfolio site.

Can you please let me know what do you think about it?

Thanks,

Karthikeyan Palaniswamy

[2018-08-21 10:37] stefanjudis commented on #23
@forethoughtde This sounds great and I love Vue. ❤️
Is there any chance to make it the Single Page App static, too, to fit with the content we're looking for?

I'm also happy to help if you need anything. :)

[2018-08-21 10:50] stefanjudis commented on #22
@nicholashagen We'd love to read more about this! :)

Can you provide an outline so that we can discuss structure and your ideas?

Thanks! 🎉

[2018-08-21 10:52] stefanjudis commented on #20
@mkorbi this looks great! I [moved your card into `draft in progress`](https://github.com/contentful/contribution-program/projects/1). :) I think we can roll with this. 🎉

If you need anything during the writing phase, let me know. :)

[2018-08-21 11:31] stefanjudis commented on #7
Cleanup time. :) This was published. 🎉

[2018-08-21 11:31] #7 closed

[2018-08-21 11:31] stefanjudis commented on #15
Clean up time. This was published and that for can be closed. :)

[2018-08-21 11:31] #15 closed

[2018-08-21 11:38] stefanjudis commented on #5
@carolstran Wanna still do this? :) If not we could also close the issue. :)

[2018-08-21 11:56] stefanjudis commented on #8
@connor-baer Do we want to move that over the finish line? :)
Can I help with anything?

[2018-08-21 11:58] stefanjudis commented on #12
@allanwhite Do we still plan to make this happen? can I help with anything?

[2018-08-21 11:58] #18 closed

[2018-08-21 11:59] stefanjudis commented on #18
Closed due to inactivity. Happy to reopen in the future. :)

[2018-08-21 13:08] connor-baer commented on #8
I have two weeks of vacation at the beginning of September, a perfect time to finish this. Thanks for the reminder!

[2018-08-21 21:50] ksurendra opened #24 "Article - Identify your digital assets' lifecycle through a discovery framework"
Title: Your Digital Assets Discovery Framework
Sub title: How to Identify your digital assets' lifecycle through a discovery framework to use on your  website or for your organization.

Topic: Build better websites

Overview:
![dady-framework-overview-no-heading](https://user-images.githubusercontent.com/902972/44430833-90875880-a561-11e8-8ed0-a0d2fb9e7c13.png)

The above flow/framework lets you d

[2018-08-22 02:05] nicholashagen commented on #22
Thanks, for the interest.  Below is what I'm thinking for a general outline.

# Brief Overview
Short and sweet introduction to GraphQL, its history, purpose, and use.

## Purpose
Explain the purpose of GraphQL, where it fits and how it compares to other technologies such as REST or other traditional SOA architectures.

## Schemas
Explain the definition of GraphQL as expressed through schemas separ

[2018-08-22 08:29] forethoughtde commented on #23
@stefanjudis Thanks for your response. Can you please elaborare what do you mean exactly Single Page App static?

[2018-08-22 11:55] stefanjudis commented on #23
hey @forethoughtde,

a Single Page App built with e.g. "pure Vue.js" (without sth like e.g. Nuxt) usually serves a pretty empty html file (only referencing styles and some javascript) and shows a loading spinner until the JavaScript is loaded and possible Ajax calls are done. The result of this approach is that if the JS fails to load there is nothing to see and also the visitor has to until every

[2018-08-22 14:30] ksurendra commented on #4
Can you add some more details on this?

[2018-08-22 15:05] stefanjudis commented on #4
I'd love to learn how you could set up your own GraphQL server even when the services you rely on are not supporting Graphql and only provide REST APIs. :) I know some people do exactly that and I'd love to read how much effort it is. :)

[2018-08-22 15:08] stefanjudis commented on #22
I wonder if this doesn't become too long for one article, but I think we could give it a shot? And have a look together when this progressed to a draft?

[2018-08-22 17:00] nicholashagen commented on #22
Size was concerning yeah. We can probably remove the last three tier architecture article (probably better off as its own article anyways in future). The meat of the article should be in the methodologies section and everything else should be short blips.

Just let me know next steps where you want to take this.

Thanks

[2018-08-25 07:41] stefanjudis commented on #22
@nicholashagen I think you can start working on a draft and then we see how  long it gets. :) Sounds alright?

[2018-08-27 10:08] carolstran commented on #5
Shoot sorry yeah @stefanjudis! Totally spaced on emailing @bradsoo 😩 Will make sure to do that this week 👌

[2018-08-27 10:29] stefanjudis commented on #21
Hey @connor11528,

thanks. :) The contribution reposts are meant for contentful related content. Sorry about the confusion. I updated the pages accordingly. :)

But if you write something about Contentful or publish on our blog initially we're happy to have a look. :)

[2018-08-27 10:29] #21 closed

[2018-08-27 19:38] connor11528 commented on #21
Okay awesome thanks for the clarification @stefanjudis makes sense!

I'll think up some articles to post on the contentful blog initially

[2018-08-28 06:47] stefanjudis commented on #21
That sounds great! 👍🏻

[2018-08-30 22:29] gauravwadekar commented on #13
Hi Allan

I am working on a project where I work very closely with editors, publishers and how the content is managed at our organization.

I think customer centered content is key and writing it for the identified audience requires a content management system which supports this concept.

And there is integration with social media which generally forms an important aspect of content strategy at l

[2018-09-03 09:45] fconforti opened #25 "How to Build a Static Site E-Commerce with Jekyll, Contentful, and Commerce Layer"
Hello,

My name is Filippo, I'm the founder and CEO of [Commerce Layer](https://commercelayer.io/), and I believe that static sites are the future of e-commerce. I'd love to write a guest post on the Contentful blog. Please find the outline below.

Looking forward to your thoughts.

Thanks!
F.

## Intro

Static sites are the future: they are secure, fast and scalable. For e-commerce, being secure

[2018-09-04 08:41] stefanjudis commented on #25
@fconforti 😲

This looks awesome! I would love to read that and see it in action. :)

As the process goes, I added this issue to the project board in the "draft in progress" stage. If you need any help with this let me know – happy to bounce ideas or give feedback. :)

Thanks! 🎉

[2018-09-04 08:42] stefanjudis commented on #20
@mkorbi Hey Max, how is it going? Can I help with anything here to move the project further?

Have a great day!

[2018-09-04 08:43] stefanjudis commented on #5
Hey @carolstran, a kind reminder – can I help with anything here? :)

[2018-09-04 09:55] fconforti commented on #25
Thank you, @stefanjudis :)

I'll start working on the first draft and I'll keep you posted on my progress.
Stay tuned! :)

Cheers,
F.

[2018-09-04 12:35] stefanjudis commented on #25
Awesome! 🎉

[2018-09-04 13:14] nicholashagen commented on #22
I have the first draft ready.  Is it preferred to just post as a comment here, or is there a more preferred place?

[2018-09-04 15:09] stefanjudis commented on #22
Personally, I prefer a shared google doc because it's perfect for collaboration but it's up to you at the end. :)

[2018-09-04 15:19] nicholashagen commented on #22
https://docs.google.com/document/d/1BmAg_qgpugBT2PoZIneRO5vtZJM52MBnETzd6N7vYwc/edit?usp=sharing

[2018-09-05 05:56] stefanjudis commented on #22
@nicholashagen can you give me comment access? :)

[2018-09-06 08:47] stefanjudis commented on #8
Hello hello, how's the vacation going? :)

[2018-09-09 13:12] nicholashagen commented on #22
Thanks @stefanjudis

I updated the document to reflect your comments.  All made perfect sense.  I also updated the title, though still thinking it through, so I may change it if anything better comes to mind.  Give it another quick read-over and let me know what you need next.

Thanks again!

[2018-09-10 11:47] stefanjudis commented on #22
Hey @nicholashagen,

alright. I'll hand this piece now to our editorial team and then we're good to go! 🎉

[2018-09-13 12:14] stefanjudis commented on #20
Max answered me that he needs a bit more time. :)

[2018-09-17 12:58] bradsoo commented on #22
Hi @nicholashagen
I'm Brad, Technical Writer for Contentful, and I'm your editor for this article. What you have so far looks good and I'm just going through with some edits, then we should be good to go!

[2018-09-17 22:00] nicholashagen commented on #22
Thanks @bradsoo

The comments you made looked great. I went through, read and resolved each. I’ll continue to monitor and resolve as you read through. Thanks much!

[2018-09-21 01:55] pommiegranit opened #26 "A loosely-coupled approach to creating MailChimp campaigns with Contentful webhooks"
## Article suggestion

How-to on integrating MailChimp and Contentful to enable webhook-triggered creation and sending of email campaigns.

## Summary

Email is just another publishing channel for your Contentful content. By using webhooks and a cloud function, we can automatically create, and send, MailChimp campaigns.

No more cut-and-pasting, no more typos. Published Contentful content delivere

[2018-09-23 08:41] pommiegranit commented on #26
No worries @stefanjudis.

I'll start working on the draft.

[2018-09-24 09:40] bradsoo commented on #22
@nicholashagen Thanks for that and keeping up with the editing/comments. Was attending a conference last week so I was reviewing your document sporadically over several days.

Everything looks good to go on my side and I have a feature image ready for the blog post. I just need your sign off now and the article will be online as soon as tomorrow!

[2018-09-24 11:33] nicholashagen commented on #22
Are there any further edits on this doc, or what are the next steps?  Thanks much!

[2018-09-24 11:44] bradsoo commented on #22
Editing on my side is complete and the next step is for you to give the thumbs up on publishing. After the article is published, Stefan will reach out to you on the thank you package.

[2018-09-24 13:16] nicholashagen commented on #22
Gave it one last look over, and I we are good to go.  +1 from me.

[2018-09-25 05:41] fconforti commented on #25
Hey @stefanjudis

I should be done with the coding part of the tutorial. It's a multi-country, multi-language e-commerce demo that leverages Contentful for content and Commerce Layer for commerce. You can see the result deployed to [Netlify](https://elegant-chandrasekhar-d86416.netlify.com/) and the source code on [Github](https://github.com/commercelayer/contentful-commerce). The readme contains

[2018-09-25 12:16] bradsoo commented on #22
Hi @nicholashagen one last request, I will need a profile photo of you and a 1-2 line summary for your author profile that will appear at the end of the blog post (as seen in posts here http://contentful.com/blog). Could you please send this to me at brad.soo [at] contentful.com?

[2018-09-25 14:35] bradsoo commented on #22
Hi @nicholashagen, your article is now online at: https://www.contentful.com/blog/2018/09/25/3-methods-resolve-graphql-endpoints.

Thanks for contributing. @stefanjudis will approach you with closing steps (i.e., thank you package).

[2018-09-26 18:36] stefanjudis commented on #25
Hey Filippo,

this looks great with nice detail.

I wonder though, if the article should explain maybe more the core concepts and functionality and could point to the repository for people being interested in trying it out.

I could imagine many people need an introduction to "how to do a static ecommerce site" first. :)

What do you think about that?

[2018-09-26 18:44] fconforti commented on #25
@stefanjudis

Absolutely!

I just shared the coding part with you to get a first impression. The next step will be to write down the article, with a rich introduction about the benefits of building static ecommerce sites.

Question: which format do you prefer for the article? Should I share a markdown document? Or maybe a Google doc?

Thanks,
F.

[2018-09-26 18:54] stefanjudis commented on #25
Awesome! 🎉

Personally, I prefer Google docs with markdown in it, because the collab mode is great, but at the end, it's up to you. :)

[2018-09-26 18:55] stefanjudis commented on #22
Hey @nicholashagen,

thanks so much for the article. It turned into a very nice piece! I'll reach out to you this week to get the package ready. :)

[2018-09-27 17:19] nicholashagen commented on #22
Sounds great. It was great to have an easy straightforward process to submit through.

[2018-10-02 08:19] #22 closed

[2018-10-03 14:53] fconforti commented on #25
@stefanjudis

Quick question: how do you prefer screenshots to be inserted in the document? Should I just upload the images to Google docs?

Thanks,
F.

[2018-10-06 08:11] fconforti commented on #25
@stefanjudis

I shared the first draft of the article on Google Docs (using your gmail address).
Let me know if you got the invitation.

Thanks,
F.

[2018-10-08 02:58] sepowitz opened #27 "Building a static site w/ contentful, netlify, styles components, and gatsby v2"
Hey! I’ve been building some client projects with contentful, netlify, styled components and gatsby v2 and would love to write a step-by-step article about the process.

Would this be of interest?

[2018-10-08 10:48] stefanjudis commented on #27
Oh yeah! ❤️ We would love to publish material about this. :)

Can you provide us with an outline so that we can discuss further steps?

[2018-10-08 10:50] stefanjudis commented on #25
@fconforti Sorry for the slight delay, I was conferencing last week. I'll check the article today and will provide feedback. :)

[2018-10-08 10:54] fconforti commented on #25
@stefanjudis sounds good! Let me know if you need any clarification ;)

Thanks,
F.

[2018-10-08 11:44] stefanjudis commented on #25
@fconforti

Oh wow - thanks so much for writing this in-depth tutorial.

So here's my feedback:

I feel like it's a bit too long and it's missing a strong selling point of static sites (jekyll and contentful) with client-side rendering (commerce layer) and how they play together showing their benefits. You mention it briefly in the introduction but I feel like the strong connection of static with

[2018-10-08 13:03] fconforti commented on #25
@stefanjudis

Thank you for your feedback.

I see what you mean, I actually have quite the same feeling :)

So, if I'm getting it right we should:

1. Move the tutorial to contentful.com/developers/docs/tutorials/
2. Enrich the first part of the article, highlighting the benefits of static e-commerce and adding a high-level schema/description of our stack
3. Replacing the tutorial with a link to 1

[2018-10-08 18:52] sepowitz commented on #27
Absolutely. What is the best way to share an outline?

[2018-10-09 08:37] stefanjudis commented on #27
Sharing an outline can be done here... :) For the actual draft then I prefer google docs (because of the great collab mode), but we can use whatever you prefer. :)

[2018-10-09 08:43] stefanjudis commented on #25
I would have to discuss this with our documentation team first. We could move it to the repo itself though initially? I saw there's some overlap to the readme anyways?

Yeah! 👍🏻 I'm thinking of graphics and core concepts how the mix would work and why it's great.

Not sure I understand that.

Thanks Filippo for being open for feedback and have a great day!

[2018-10-09 14:39] sepowitz commented on #27
Awesome! I will share a brief outline ASAP

[2018-10-09 16:45] fconforti commented on #25
@stefanjudis

I cannot hide that being one of your "official" tutorials would be super fantastic :) but in case it's not feasible for any reason I will adapt the repo readme.

Great! Will your content team help with the graphics?

Sorry... I meant to say that we would remove the tutorial part from the article and replace it with a link.

Thank you, Stefan!

As next step, I will rework the first pa

[2018-10-10 14:51] sepowitz commented on #27
## OUTLINE
## Building a Simple Portfolio site with Contentful, Gatsby v2, Styled Components, and Netlify

### Part 1: Introduction

- Introduce each technology, what they are for, and why they are cool :)
  - Part of this includes touching on what Gatsby v2 introduces
- Preview the minimal portfolio design we are going to implement
  - It will include a homepage, work/index, work/show, and contac

[2018-10-11 11:37] fconforti commented on #25
@stefanjudis

I just updated the [repo](https://github.com/commercelayer/contentful-commerce) with the step-by-step tutorial and I'll be working on the article today.

Please let me know if you have any guideline for drawing the diagrams that I should follow.

Thanks,
F.

[2018-10-13 19:16] sepowitz commented on #27
Hey @stefanjudis not sure if you saw the above ^ outline I shared. Would love some feedback when you get a chance.

Thanks!

[2018-10-14 03:45] pommiegranit commented on #26
@stefanjudis,

I've finished the first draft. How do you want me to provide it to you?

It's currently [on Google Docs](https://docs.google.com/document/d/1kZLL7x4iP7IRNx-9HyqMIeRt4YHUh6FamGeYUP7-7Ho/edit?usp=sharing).

Chris

[2018-10-18 12:54] fconforti commented on #25
@stefanjudis

Just checking if you had the chance to review the article.

Thanks,
F.

[2018-10-22 10:20] stefanjudis commented on #25
Hey Filippo, I will have a look today. Sorry about the delay. Was vacationing the last week. :)

[2018-10-22 10:27] stefanjudis commented on #25
Hey Filippo, I will have a look today. Sorry about the delay. Was vacationing the last week. :)

[2018-10-22 10:54] stefanjudis commented on #25
@fconforti I made a few comments. We're slowly getting there! 👌🏻 🎉

[2018-10-22 10:55] stefanjudis commented on #26
@pommiegranit Sorry for the slight delay, I was on vacation. Can you give me comment or suggestion rights (stefan.judis[at]contentful.com)? Gdocs works quite nicely for collaboration in my opinion.

[2018-10-22 10:59] stefanjudis commented on #27
@sepowitz Sorry for the delay, I was vacationing. the outline looks good imo. I'm a little worried about the length though (as you also phrased concerns :D ).

I think we could cut the setup parts and link to docs and resources?

But apart from that, I think this looks 👌🏻!

We would have to check how long we get, but for now I think that's a nice outline and with a little bit of back and forth dur

[2018-10-22 11:01] stefanjudis commented on #12
@allanwhite I'll close this for now. :) Happy to re-open in the future. :)

[2018-10-22 11:01] #12 closed

[2018-10-22 11:01] stefanjudis commented on #12
@allanwhite I'll close this for now. :) Happy to re-open in the future. :)

[2018-10-22 11:33] stefanjudis commented on #8
Hey @connor-baer I'm closing this for now. :) Happy to re-open in the future. :)

[2018-10-22 11:33] #8 closed

[2018-10-22 11:35] stefanjudis commented on #20
hey @mkorbi. Just checking in. All good? :)

[2018-10-22 12:01] connor-baer commented on #8
@stefanjudis Yeah, I think the topic is outdated anyway. Lemme try to come up with a different topic :)

[2018-10-22 12:27] fconforti commented on #25
@stefanjudis

No problem! :) Sorry for the push. The point is that [we are sponsoring](https://jamstackconf.com/#sponsors) the JAMstack conference and it would be great to have the article published before the end of this week.

I'm reviewing your comments right now and I'll get back to you asap. Thanks!

F.

[2018-10-23 09:14] stefanjudis commented on #8
👍

[2018-10-23 09:39] pommiegranit commented on #26
Don't apologise for being on holiday! I've given you commenting access - you should have received notification from Google Docs.

[2018-10-23 17:54] angelareciprocity opened #28 "Article idea: Protecting Your Corporate Website as an Enterprise Risk Management Strategy"
Hi, I work with Reciprocity Labs ([reciprocitylabs.com](url)) and we'd love to submit an article for consideration on the topic of protecting company websites. In particular, we were considering writing an article about how to protect a business's website from hackers. Let me know what you think and if you like it I can write up an outline!

Angela

[2018-10-30 13:41] mkorbi commented on #20
hi @stefanjudis unfortunately I can't finish this topi, because of a lack of time

[2018-10-31 11:34] stefanjudis commented on #20
No worries. :)

[2018-10-31 11:34] #20 closed

[2018-11-14 13:18] david-genger opened #29 "From Static to Dynamic with Zeit 2.0"
I would love to write about how the new Zeit 2.0 can be used with Contentful. with the new update of Zeit the possibilities are endless.
As a huge fan of Netlify with more than a handful of websites live on Netlify, I feel that now is the time to level up and start using Zeit as the potential is enormous.

[2018-11-19 17:03] Shy commented on #26
Hey @pommiegranit,

I'm helping @stefanjudis with the article. You might have seen some of my comments in the google doc already. I'm pretty happy with the article. I'm going to be looping in our Editorial team (@bradsoo)  who'll come in for one last editing pass and the logistics of getting it published.

I'm really excited to see the published version!

[2018-11-20 18:42] Shy commented on #29
@david-genger, this sounds like a pretty cool article. Let's make it happen.

If you could provide us with an [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) before starting to write we'll be able to give feedback and share ideas! :)

[2018-11-20 19:32] david-genger commented on #29
Question: are we looking for an article geared towards developers or for marketing and business guys?
@Shy

[2018-11-20 19:43] Shy commented on #29
Developers!

![](https://media.giphy.com/media/enTimXqzmVXR6/giphy.gif)

[2018-11-20 21:17] david-genger commented on #29
I'll try to use some of this energy of Steve Ballmer ⚡😊🎉

[2018-11-20 22:39] david-genger commented on #29
**Title (suggestions)**
•	Frictionless writing, coding, publishing
•	From deploying in minutes to deploying in seconds
•	Edit anywhere, publish anywhere
•	Your content is liberated your servers should too!

**Objective 👁**
 the benefits of Ziet 2.0

**Main take ways 🦄**
After reading the article, you will understand how the new architecture that Zeit brings along will improve your publishing pipel

[2018-11-21 08:21] bradsoo commented on #26
Hi @pommiegranit
I'm Brad, Technical Writer for Contentful. I'll be your editor for this article - Shy has looped me in on the details and sent me a link to the draft on GDocs. I've already ordered a feature image for the article and will get back to you with my edits and comments. If everything goes well, we could have this online in the coming days!

Cheers,
Brad

[2018-11-21 09:52] pommiegranit commented on #26
Brad,

No worries. Do you want me to give you editing access?

Regards,

Chris

On Wed, 21 Nov 2018 at 19:21, Brad <notifications@github.com> wrote:

[2018-11-21 09:54] bradsoo commented on #26
Also, our blog posts typically feature some basic information about the author, and I was wondering if you could provide me with a profile photo and short (2-3 line) description of yourself. My email is brad.soo [at] contentful.com.

You may also include links to your GitHub, Twitter and Linkedin profiles, relevant website for your portfolio or organization, and location.

[2018-11-21 15:39] jsjoeio commented on #4
Thanks @Shy ! I will get started on an outline and share it here soon :)

[2018-11-22 08:13] bradsoo commented on #26
@pommiegranit Thanks for the edit access! I've reviewed your article - I'll echo Shy that your article was in pretty good shape to begin with - and completed editing. The feature image should be delivered early next week by our designer and, if you have no further changes by then, we should be able to get your piece published after that!

Quick reminder to send over the author profile you'd like t

[2018-11-26 16:21] david-genger commented on #29
What should be my next step, I should start writing or wait for feedback on the outline?

[2018-11-26 16:32] Shy commented on #29
Hey David,

Sorry about my slow response time. I've been out because of Thanksgiving.

I think this looks good to go so once @bradsoo (our of our copywriters) drops by to leave feedback I'll move this into the writing stage.

[2018-11-28 09:36] bradsoo commented on #25
@fconforti Thanks again for your contribution. For your records, the article is online at: https://www.contentful.com/blog/2018/11/07/how-build-static-site-ecommerce-jekyll-contentful-commerce-layer/ and has also been crossposted to Medium https://medium.com/@contentful/how-to-build-an-ecommerce-static-site-with-jekyll-contentful-and-commerce-layer-99fbe4957296

@stefanjudis will approach you with

[2018-11-28 09:46] bradsoo commented on #29
Hi @david-genger
I'm Brad, Technical Writer for Contentful. I'll be your editor for this article - I think the article idea sounds like a good one (sounds like something people would be interested in reading) and your outline looks 👌🏻!

I'd like to know more about your plans for the Meat and the How's - if you have something substantial to talk about, maybe you could consider splitting it into a 2

[2018-11-28 09:54] stefanjudis commented on #25
Thanks @fconforti. :)

[2018-11-28 09:54] #25 closed

[2018-11-30 09:17] bradsoo commented on #26
Hi @pommiegranit , your article is now online at: https://www.contentful.com/blog/2018/11/30/mailchimp-campaign-contentful-webhooks-loose-coupling/ and has also been crossposted to Medium: https://medium.com/@contentful/a-loosely-coupled-approach-to-creating-mailchimp-campaigns-with-contentful-webhooks-5c04afca9f32

Thanks for contributing. @Shy will approach you with closing steps (i.e., thank yo

[2018-11-30 12:19] #26 closed

[2018-12-03 12:18] david-genger commented on #29
I'm currently working on the actual content, I will try to get it done within the next week or so.

[2018-12-03 18:38] bradsoo commented on #29
Great, thanks for the update!

[2018-12-03 21:02] TheCodeKing opened #30 "Forget Docker, JAMstack is the future"
I've literally just written an article all about JAMstack, and which also mentions Contentful.

It's about increasing agility in businesses without going down the rabbit-hole of investing time and effort in infrastructure technology such as Docker. This is a side effect of companies investing in traditional CMS products and coupling themselves to specific stacks. They get caught up in infrastructu

[2018-12-05 03:48] jsjoeio commented on #4
Hey, just wanted to check in and let you know I'm still working on the outline :)

[2018-12-12 05:32] pommiegranit opened #31 "Create a simple content calendar for your Contentful content"
A content calendar allows you to see at a glance when your content is being published. It's an essential component of any content manager's toolbox.

In this article we'll step through how to create your own content calendar. We'll build a single-page app that leverages the Contentful Management API to create a calendar view of your content. We'll even add the ability to change when a piece of con

[2018-12-12 15:32] Shy commented on #31
Hey Chris. I'm excited to get to work with you again!

I think this sounds awesome. I'm going to move it straight into the writing phase.

[2018-12-14 03:10] jsjoeio commented on #4
@Shy Here's my first shot at the outline (feedback warmly welcomed):

### Introduction

- Discuss how GraphQL is hot, very popular (reference state of JavaScript) and how many people want to "test it out" before fully diving in.

### Main Takeaways
- Goal of this post is to show you how to proxy a REST API into a GraphQL API using [`apollo-link-rest`](https://github.com/apollographql/apollo-link-r

[2018-12-17 16:39] Shy commented on #30
Hey @TheCodeKing,

Thanks for sharing this with us. We do pay for reposts through our contribution program, but I'm not sure our blog is the best place for this post. It's a little too general for us. With the contribution program, we're looking for articles with a strong Contentful focus rather than just a mention.

[2018-12-17 16:39] #30 closed

[2018-12-17 17:00] Shy commented on #4
@jsjoeio. I like this outline. I'll go ahead and push it into the writing phase.

[2018-12-18 04:38] pommiegranit commented on #31
I've given you both access to the Google doc.

It's a pretty rough initial draft but I wanted to get it to you before the holidays!

[2019-01-01 15:17] peter-leonov opened #32 "Using nginx with a simple config to reduce latency"
Hi guys,

Thanks for the great product!

In my team we use nginx to cache locally the content we get from `api.contentful.com`. The config is just a transparent caching proxy with all the goodness of nginx's `proxy_cache` directive, including background validation and stale version serving.

Do you think it's valuable to write an article like this for Contentful blog?

[2019-01-02 16:42] Shy commented on #11
Hey folks,

Since it looks like we haven't had any changes to this issue for a few months I'm going to close the ticket. I don't have full awareness of what's going on so if that's incorrect let me know and I'll open it back up.

[2019-01-02 16:42] #11 closed

[2019-01-02 16:56] Shy commented on #31
Hey @pommiegranit, hope you had a good holiday and new year. @bradsoo and I both just got back from our holiday vacations and we'll hopefully be able to get you some feedback soon.

[2019-01-03 15:58] bradsoo commented on #31
Hi @pommiegranit thanks for sharing the doc, I look forward to working with you again and I will go over that this week. I've scheduled time to work with you on this blog post, let's get it out this month =)

[2019-01-03 16:48] bradsoo commented on #5
@Shy I've followed up on this article idea on Carolyn. I hope to work with @carolstran to get this written and published as soon as possible.

[2019-01-07 17:41] allanwhite commented on #11
@Shy Hi Shy - honestly I got pulled in different directions and kind of forgot about this project! I'll try and pick it up in the new year here. I may just publish it on my own and notify you for cross-publication.

[2019-01-11 06:48] krissnawat opened #33 "Build a blog with Vuejs and Contentful"
Want to contribute some  practical tutorials

Thank

[2019-01-14 12:59] bradsoo commented on #4
Hi @jsjoeio , I'm Brad, Technical Writer at Contentful. I'll be working with you on getting the piece into publish-ready state. Just wanted to check in on your progress and if you needed any assistance.

[2019-01-14 15:23] jsjoeio commented on #4
Hey @bradsoo ! Nice to meet you. Thanks for checking-in. This month was pretty busy (workshops, anniversary, birthday, moving houses, etc) so the blog post has fallen to the way side 😅 but I will aim to get you something to critique by February 1st. Is that alright?

[2019-01-16 12:32] bradsoo commented on #4
Works great for me, @jsjoeio. Feel free to email or share a collaborative document with me at brad.soo at contentful.com

[2019-01-16 15:03] jsjoeio commented on #4
Sounds good. Thanks @bradsoo ! Will do.

[2019-01-24 17:24] bradsoo commented on #16
@jepser apologies for the delay in getting back to you. Since Stefan is no longer with Contentful, @Shy will be the point of contact for the Contentful contribution program now.

I've provided a significant number of improvements to [your initial draft](https://docs.google.com/document/d/1PPX1QUL4zss8DaD-QxJlTlIYe0Z4FutbrSWxqyceiYY). I hope that we can publish this by this week or next week. Then

[2019-01-26 22:40] jsjoeio commented on #4
Hey Brad. I started a [Google Doc](https://docs.google.com/document/d/13cQLcYmkb1uXSDqDgzgzhefwJtLQ658SQz6zpr1NPo0/) and shared wit with you.

[2019-01-29 15:45] jepser commented on #16
Hi Brad,
Sorry for my delayed response, I will check your comments and I will send
you the things today at the end of the day.

Cheers, and welcome to Contentful :)

El mar., 29 ene. 2019 a las 16:30, Brad (<notifications@github.com>)
escribió:

--
Jepser Bernardino
*Frontend Engineer*

Check out my latest project: https://labs.typeform.com/cui/

www.jepser.com
Móvil. +34 665 19 07 02

[2019-01-30 12:38] bradsoo commented on #16
Thanks Jesper, no problem at all. If everything goes well, we could even publish this by today or tomorrow.

[2019-01-31 17:30] carolstran commented on #5
Hey @Shy and @bradsoo, as much as I would love to contribute - I think we just missed the boat on this topic. I'm working on some GraphQL projects, so if anything comes of those I'll open another issue. Thanks for understanding!

[2019-01-31 17:54] Shy commented on #5
No worries. Thanks for the heads up.

[2019-01-31 17:54] #5 closed

[2019-02-01 15:15] Shy commented on #31
Article was posted so I'm closing this issue: https://www.contentful.com/blog/2019/01/24/create-content-calendar-contentful/

Thanks again @pommiegranit, hopefully, we can keep working together!

[2019-02-01 15:15] #31 closed

[2019-02-07 14:09] bradsoo commented on #16
Hi @jepser any update so far on this?

[2019-02-08 13:54] jepser commented on #16
Wow, thanks for your corrections, I check the article and I like it, let me know your thoughts. @bradsoo

[2019-02-18 12:07] bradsoo commented on #16
Hi @jepser, everything looks great and we are good to publish as early as tomorrow (Feb 19, 2019). Let me know if you're OK with this.

[2019-02-19 17:03] jepser commented on #16
Sounds great :)

[2019-02-19 17:43] Shy commented on #33
@krissnawat, That sounds awesome. Would you be able to spin up an outline of an article if you're still interested?

[2019-02-21 15:38] Shy commented on #32
Hey @peter-leonov, sorry for the slow response. I must have missed this in all the scuffle once I got back from the holiday break. If you're still interested, I think it would be great to have you write up this article.

The one concern I have is that we might confuse folks about how the built-in caching that Contentful has works, but I think we can work through that concern.

If you could provide

[2019-02-21 17:09] bradsoo commented on #4
@jsjoeio I was out of office for a little over a week, and just resumed on Monday, Just a tiny heads up to let you know I have been and will be working on your post in the next few days so we can get it published.

[2019-02-21 23:48] jsjoeio commented on #4
@bradsoo That's okay. Thanks for the update.

It's only 50% complete so that's okay. I will be working on it this week/next week so hopefully I can get it 100% complete soon.

[2019-02-22 10:08] bradsoo commented on #4
Great, thanks. Please let me know when you think you've hit that 100% - the sooner you can finish contributing on your end, the sooner I can work on it and complete it on mine!

[2019-02-23 02:56] krissnawat commented on #33
@Shy just publish demo for article on this
https://github.com/krissnawat/nuxtnuxt

[2019-02-25 15:55] Shy commented on #33
Looks great. Let me know if you need any help on the [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md).

[2019-02-27 08:07] krissnawat commented on #33
1.	NUXT JS : A SERVER SIDE RENDERING MODULE OVER VUE JS
2.	CONTENTFUL: A CONTENT MANAGEMENT TOOL
4.	BLOGGING USING NUXT AS SSR AND CONTENTFUL AS CLOUD API PLATFORM
5.	HOW TO CREATE SEO BLOG CONTENT USING NUXT AND CONTENTFUL

[2019-02-27 14:55] bradsoo commented on #16
Hi Jesper, we are ready to publish (sorry for the delay, the other writers on my team wanted to work on the language further).

I need an author bio of you. If you could provide me with a short 2-3 line profile and photo that would be great.

Optionally you can include include GitHub, Twitter and Linkedin profiles, relevant website for your portfolio or organization, and location.

[2019-02-27 15:24] jepser commented on #16
NP, sure!

Bio:
Software engineer from Guatemala, currently working @Typeform.

Cheese bio: Code poet from the land of coffee and eternal spring that lives in the human jungle of Barcelona.

Picture:
https://avatars2.githubusercontent.com/u/175774?s=460&v=4

Github:
https://github.com/jepser

Twitter:
https://twitter.com/jepser

Website:
https://jepser.com

Working:
@Typeform

Location:
Barcelona,

[2019-02-27 16:16] bradsoo commented on #16
@jepser The post has now been published at: https://www.contentful.com/blog/2019/02/27/wordpress-move-contentful-static-site/

[2019-02-27 16:24] jepser commented on #16
Thanks for your help @bradsoo it's nice to see it finally in your blog <3

[2019-02-27 16:27] jepser commented on #16
@bradsoo there is a small markdown typo here:
![image](https://user-images.githubusercontent.com/175774/53505824-f1658f80-3ab4-11e9-8225-1142f1badf2f.png)

[2019-02-28 04:53] Shy commented on #33
@krissnawat, I'm looking for something with more detail. Take a look at some of our closed issues for examples. https://github.com/contentful/contribution-program/issues/29#issuecomment-440454704

https://github.com/contentful/contribution-program/issues/4#issuecomment-447198901

[2019-02-28 07:10] bradsoo commented on #16
@jepser You're welcome, I've updated the profile and fixed the typo! I'm glad we finally got this out the door too! If you have any further article ideas you'd like to work on with us, let me know!

@Shy will approach you to send you a thank you package for the article

[2019-02-28 23:36] jsjoeio commented on #4
@bradsoo I think I've hit that 100%

Please take a look at your earliest conveniences: [Link to Google Doc](https://docs.google.com/document/d/13cQLcYmkb1uXSDqDgzgzhefwJtLQ658SQz6zpr1NPo0/edit#)

Definitely a little bit of touching up to do but all the content is there. I'm going to also see if a friend from Apollo can take a look to make sure the technical part looks good too.

[2019-03-01 10:47] krissnawat commented on #33
### Topic :
 - How to create blog using NuxtJS and Contentful
 - Creating SEO blogs
   with NuxtJS and Contentful platform

### Objective

 - To understand benefits of NuxtJS and ContentFul for blog creation
 - To Set up Contentful
 - To connecting Contentful cloud platform to NuxtJS
 -  Using NuxtJS and Contentful for creating a blog

### Main Takeaways
- About NUXTJS (SSR over VueJS) and Content

[2019-03-01 15:21] Shy commented on #16
@jepser, I got your form submission. We'll be sending everything over shortly. Thanks for publishing an article with us!

[2019-03-01 15:21] #16 closed

[2019-03-01 16:12] Shy commented on #33
@krissnawat I'm going to move the ticket into the draft phase. Go ahead and get started turning this outline into a first draft. One of our Technical Copywriters should drop by to give you feedback as you're working.

[2019-03-01 16:14] Shy commented on #29
Hey @david-genger, wanted to check in and see if you had any updates?

[2019-03-03 04:13] krissnawat commented on #33
### **Objective**

-   **To Set up Contentful :** This article aims to help bloggers setup contentful platform from creation of contenful account to deploying contentful delivery API to Nuxt Framework.
-   **To connect Contentful cloud platform to Nuxt.js :** After setup of contentful is complete, connect contentful platform to Nuxt framework using vue-cli.
-   **Using NuxtJS and Contentful for cr

[2019-03-06 08:39] bradsoo commented on #33
Hi @krissnawat I'm Brad, Technical Writer at Contentful. I'll be working with you on getting the piece into publish-ready state. The material you've written so far looks amazing. I'll get this into a Google Doc and make my edits there (for change tracking and collaboration). What is your email address so I may share the doc with you?

[2019-03-06 09:20] krissnawat commented on #33
@bradsoo krissanawat101[at]gmail

[2019-03-07 15:28] bradsoo commented on #4
@jsjoeio I've completed the edits and contributions from my side and it looks good to me. If you're good with the state of the article, I can move it to the next stage to prepare for publishing.

Also, I'd also need an author bio from you. If you could provide me with a short 2-3 line profile and photo that would be great. You can send them to brad.soo [at] contentful

Optionally you can include i

[2019-03-07 16:13] jsjoeio commented on #4
@bradsoo Awesome! Thanks for the edits. Just gave it once last read and made a few minor tweaks. I also made sure the Codesandboxes were looking good. I think we're ready to move onto the next stage.

I will email you a bio right now.

[2019-03-09 15:11] krissnawat commented on #33
@bradsoo what going on?

[2019-03-11 15:29] Shy commented on #32
@peter-leonov, wanted to check in and see if your still interested. I'm closing the ticket since I haven't heard from you, but feel free to reopen it if your planning on writing this article.

[2019-03-11 15:29] #32 closed

[2019-03-11 15:31] Shy commented on #27
@sepowitz, I wanted to check in and see if you're still interested in writing this article? Would be great to read a draft if you've had a chance to work on this.

[2019-03-11 15:31] #29 closed

[2019-03-11 15:32] #24 closed

[2019-03-11 15:33] #13 closed

[2019-03-11 19:00] Shy commented on #27
@sepowitz, I wanted to check in and see if you're still interested in writing this article? Would be great to read a draft if you've had a chance to work on this. Since it's been a little bit I'm closing this ticket to cleanup the project board. If your still up for it feel free to reopen the ticket.

[2019-03-11 19:00] #27 closed

[2019-03-11 19:28] bradsoo commented on #33
Hi @krissnawat sorry for the delay in getting back to you. I have a list of priority blog posts I'm working on, but I do have yours in the queue. I will start work on yours as soon as I am able.

[2019-03-26 13:37] krissnawat commented on #33
what the waste my time

[2019-03-26 16:24] realityking commented on #33
Hey @krissnawat,

My name is Rouven, I lead the DevRel team here at Contentful. Please accept my apologies for leaving you hanging here. Unfortunately Brad has left company and this blog post wasn't accounted for in the handover. This should never have happened.

Another editor, Maria, will take this over and we'll have it in Google Docs by the end of this week. You can reach her at maria.valatkai

[2019-04-05 13:53] Shy commented on #33
Closing since the article was published.

[2019-04-05 13:53] #33 closed

[2019-04-06 03:08] krissnawat opened #34 "React native + GraphQL + Contentful"
Hi @Shy
I plan to create react native app and using GraphQL / Contentful and share story again
Here some app screenshots
![](http://i.imgur.com/Tvbg3oO.jpg)

[2019-04-17 16:47] Shy commented on #4
Closing this since we published the article. For anyone finding this issue check it out at: https://www.contentful.com/blog/2019/03/13/implementing-graphql-rest-api/

[2019-04-17 16:47] #4 closed

[2019-04-17 16:47] Shy commented on #34
Closing this since Kris and I chatted about this via email.

[2019-04-17 16:59] Shy commented on #23
Closing this due to inactivity. @forethoughtde If you're still interested I'm happy to reopen this issue.

[2019-04-17 16:59] #23 closed

[2019-04-22 08:34] matyushen commented on #8
@connor-baer Nice talk, thank you! Have you managed to finish this case-study-blog-post thing? Would love to hear in more details about how you deal with i18n in contentful + react/next.

[2019-04-22 12:14] connor-baer commented on #8
Hi @matyushen, thank you! No, I didn't end up writing the blog post. I can give you a brief summary on how we deal with internationalization though.

Essentially, localization happens only on the server. We run a small Node backend which...

1. proxies our Contentful API calls
2. caches the data in redis (so we're resilient to Contentful downtimes)
3. picks the right translation for the current lo

[2019-04-28 08:30] matyushen commented on #8
Hey @connor-baer, thanks for the answer! Very interesting. Are you using Contentful's GraphQL API? We were using CDA mapping all content models to our own GraphQl API. But it quickly became a pain to maintain (especially with reference fields and unions), so we switched to GraphQL API merging the remote schema and basically talking to it directly from the client. But the problem I encountered is t

[2019-04-28 10:24] connor-baer commented on #8
We're not using the GraphQL API yet, though we might explore it in the future. It could solve some of our current pain points since what we do on our server is similar in principle to what GraphQL does.

We had some problems when switching to Contentful early on when data would be unexpectedly `undefined` or `null`. We overcame those problems with more resilient programming where we don't rely on

[2019-04-28 14:35] matyushen commented on #8
Resilient programming sounds like a good approach. Thank you!

[2019-05-03 14:35] Shy commented on #34
Reopening since it's been a month since @krissnawat's last post. @krissnawat would you be able to provide us an outline for our review?

[2019-05-05 02:25] krissnawat commented on #34
### Topic 💯
Bring your blog to mobile with React native and Contentful
Creating React native blog and Contentful
Gain your ads revenue with React Native and ContentFul
Delivery your blog post on Mobile with React Native and ContentFul
### Objective
To understand benefits of React Native and ContentFul for blog monetization
To Set up Contentful along with React Native
Delivery content on new experi

[2019-05-09 13:03] teemutammela opened #35 "Building a better podcast with Contentful and Sinatra"
Hi there,

Last year I attended [Contentful Developers Meetup Helsinki #2](https://www.meetup.com/Contentful-Developers-Meetup-Helsinki/events/255360681/) as a guest speaker and gave a presentation about my podcast website AuralCandy.Net and the technology stack it is built upon (Contentful, Ruby, Sinatra and Heroku).

I adopted my presentation into a blog/article form ([read here](https://www.eve

[2019-05-20 11:34] Shy commented on #35
Hey @teemutammela, we'd be happy to post your article. Would you be able to move it into a google doc and share it with Jo (jo.fraser @ contentful.com), one of our editors, who would be able to provide feedback and help polish the article up.

[2019-05-20 11:43] teemutammela commented on #35
@Shy Thanks, I'll convert the article to Google Docs format and send the link to Jo Fraser.

[2019-05-22 11:48] Shy commented on #35
Thanks @teemutammela for publishing your article with us.

It's live on the Contentful website at https://www.contentful.com/blog/2019/05/22/building-a-better-podcast-with-contentful-and-sinatra/

![](https://i.giphy.com/4xpB3eE00FfBm.gif)

[2019-05-22 11:48] #35 closed

[2019-05-22 11:58] Ameliawb commented on #34
Hi @krissnawat, good to meet you I am the new Dev Evangelist (SF) for Contentful and I'd be happy to give you some feedback on your story.  I think you have a really strong outline, I look forward to reading the finished piece.  I have a few notes that could help me understand where you are coming from:

[2019-05-22 12:33] Ameliawb commented on #34
Hi @krissnawat, good to meet you I'm a new Dev Evangelist for Contentful and I'd be happy to give you some feedback on your story. I think you have a really strong outline. I have a few notes that could help me understand where you are coming from:

In your bullet point:

“React Native makes the mobile development fun and easier due it provides a component and helps to build Android and iOS app wi

[2019-09-12 01:17] senta-nakazato opened #36 "Article suggestion: Build a website using Gatsby.js and Contentful "
Hello there,

I built website called [Contentful Explore](https://contentful-explore.netlify.com/) to know more how to use Contentful.

I am interested in writing a blog post about how I made this website using Contentful with Gatsby.js.

Can you please let me know what do you think about it?

Thanks,

[2019-09-23 18:52] Shy commented on #34
Closing this since it's been a while since it had an movement.

[2019-09-23 18:52] #34 closed

[2019-09-23 18:55] Shy commented on #36
Hey @senta-nakazato,

Sorry for my slow response on this. I must have missed the notification. We'd love to have an article on Contentful Explore.

If you could provide us with an [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) before starting to write we'll be able to give feedback and share ideas! :)

[2019-09-24 10:27] abedzantout opened #37 "Article published: Building a Contentful + Next.Js Blog"
Hello everyone,

I apologize for not writing here sooner, as I have just discovered this thread.

The article I've written is about combining Contentful and Next.Js to create a static blog.

Here are the main bullets:

- I have already written the article and published it today [here](https://www.techhive.io/our-insights/how-to-build-a-powerful-blog-with-nextjs-and-contentful), and on [medium](htt

[2019-09-24 17:53] Shy opened #38 "Author Wanted: Static Sites, can you do E-Commerce?"

[2019-09-24 17:53] Shy opened #39 "Author Wanted: What to expect when you are expecting a lot of Content"

[2019-09-24 17:54] Shy opened #40 "Author Wanted: How to get your content on a really big screen?"

[2019-09-24 17:55] Shy opened #41 "Author Wanted: How to leverage Contentful for accessibility improvements you can do right now"

[2019-09-24 17:55] Shy opened #42 "Author Wanted: When it's time to ditch Static."

[2019-09-24 18:02] Shy commented on #37
Hey Abed,

I'm struggling a little with the link you shared. When I go to the root techhive.io website and click your insights tab and then the article it renders. But when I got directly to the link it doesn't work for me.

I like the article, but I want to share it with the Contentful team before moving forward. Anything I'm doing wrong?
![techhive io](https://user-images.githubusercontent.com/1

[2019-09-24 18:03] Shy opened #43 "Author Wanted: My boss asked me to do A/B testing, now what?"

[2019-09-24 18:04] Shy opened #44 "Author Wanted: Contentful and PWAs"

[2019-09-24 18:04] Shy opened #45 "Author Wanted: Remember the “APIs” in JAMstack"

[2019-09-24 18:05] Shy opened #46 "Author Wanted: How to talk to a Content Creator"

[2019-09-24 18:05] Shy opened #47 "Author Wanted: Did you say what I thought you said? Terms and definitions with technical and non-technical collaborators."

[2019-09-24 18:05] Shy opened #48 "Author Wanted: How to work with Designers"

[2019-09-24 18:21] abedzantout commented on #37
Hi @Shy,

That's very weird.

In any case, please find the medium link [here](https://medium.com/techhive-io/how-to-build-a-powerful-blog-with-nextjs-and-contentful-e4919ec78420).

I'll update the original post also

[2019-09-24 18:21] Shy commented on #37
Perfect. I'll pass it on and let you know what everyone thinks. :)

[2019-09-25 04:46] senta-nakazato commented on #36
@Shy
Sorry that I didn't mention you, and thanks for your response.

Actually I am not good at writing English so I wanna make this blog simple.

I have two ideas about blog
1. Write about how to make this site with Gatsby.js and Contentful, writing set up step by step.
like this [article](https://www.contentful.com/blog/2019/06/14/build-website-nuxt-contentful/)

2. How to set up and render Rich

[2019-09-25 14:28] Shy commented on #36
I think an article on Rich Text and MDX could be really interesting. We've had a lot of articles about Gatsby already so an article on Rich Text would be different!

Would you be able to [export your content model](https://github.com/contentful/contentful-export) for the project and commit it to the repo?

You can see my [project on super sentai to see how I explain importing content](https://gith

[2019-09-30 17:00] Shy commented on #37
Hey @abedzantout, I think we're going to pass on reposting this article. We've had a few articles about next JS and contentful already. My brief search actually found 5 next JS articles on our blog already. Since it's a repost rather than content that would get posted to our site first, it doesn't make sense for us to move forward with it.

That said we do really like this article, and if you're w

[2019-09-30 17:00] #37 closed

[2019-10-03 13:05] malorie16 opened #49 "Article: Migrating WordPress to CF"
Hi there!

Liz Osterloh and I talked about my blog post on twitter and asked me to make a GH issue for my post so that the devrel team can take it from here and do a technical check!

Here's a link to a [google doc](https://docs.google.com/document/d/1DpJOdajpPX33j6UNbEOC_MXdxdht_nF3OFrUZdxiXrc/edit?usp=sharing) of the post.

Feel free to reach out with questions or if you need additional informat

[2019-10-04 10:04] teemutammela opened #50 "Article suggestion: WebP, Source Sets & Images API"
Hi, I'm planning to create an article about the following topics.

- Introduction of WebP format and advantages over other image formats.
- Creating JPEG fallback for browsers that don't support WebP using source sets.
- Using source sets to show optimized image dimenions and/or compression sizes for different deviced (e.g. mobile, desktop).
- Using asset localization for loading different version

[2019-10-07 16:58] Liz0 commented on #49
Thanks Malorie!

[2019-10-08 17:31] Shy commented on #36
@senta-nakazato, just wanted to check in and see if you had a chance to create an outline on the RT and MDX article?

[2019-10-08 17:32] Shy commented on #50
Hey @teemutammela, glad to see that you opened up the issue! Sorry on my slow response. I was out on vacation for the last few days.

Would you be able to create a small [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) so we can give you feedback before you start writing?

[2019-10-08 22:04] senta-nakazato commented on #36
@Shy
sorry for late to tell you this, but I started new job and it is difficult to have time to write this.
I should put off...... I really wanna try to contribute in future.
Thanks for your kindness!

[2019-10-08 22:04] #36 closed

[2019-10-08 22:05] Shy commented on #36
Congratulations! That's very exciting. Feel free to reopen this issue anytime.

[2019-10-12 06:52] allanwhite commented on #48
I'm a designer with 25 years of experience and have worked extensively with developers. This sounds like a great topic. @Shy Can you tell me more about what you're looking for?

[2019-10-12 06:55] allanwhite opened #51 "Article Submission: Keeping data models simpler, more reusable, and powerful"
I dusted off #11 and rewrote it some, published it here:

https://dev.to/allanwhite/it-s-all-about-relationships-keeping-data-models-simpler-more-reusable-and-powerful-257o

It's basically the same structure. If you'd like to syndicate it or republish it, let's talk.

[2019-10-12 19:25] Shy commented on #51
Hey Allan,

This is great. I really like this article. I'm looping in Liz who can help migrate it from Dev over to the contentful blog.

[2019-10-14 13:36] Shy commented on #50
@teemutammela wanted to check in and see if you had any questions for us?

[2019-10-14 13:56] teemutammela commented on #50
Hi @Shy. Sorry for the late response. No questions at this time, I've been a bit busy with other things, so the writing has been on hold.

[2019-10-14 17:54] Shy commented on #48
Hey @allanwhite, we're pretty open on where this article could go. Off the top of my head it could be interesting to talk about and of the following:

How you can include design information inside Contentful (color schemes).
Component Design and Content architecture
I'd still wanting to read something about your Figma and Contentful integrations

I'm a developer so design workflow isn't something

[2019-10-17 06:10] teemutammela commented on #50
Hi @Shy, here it the preliminary outline you asked for.

- Intro
- WebP
     - Overview of the current image formats
    - Comparison and advantages WebP vs. JPEG and other formats
- Source Sets
    - What are source sets?
    - How to use source sets?
- Images API
    - Overview of the exceptional advantages of the Images API
    - Real-world use cases and examples of using various features of th

[2019-10-17 20:34] allanwhite commented on #51
@Shy @Liz0 I can provide the raw markdown and original image assets if that's helpful.

[2019-10-17 20:37] allanwhite commented on #48
This is a different topic @Shy, but I may propose an envisioned Contentful (data) > Figma (design) > Contentful (image assets) round-trip workflow. It doesn't exist yet, but I think it could. And would rock!

[2019-10-18 13:23] Liz0 commented on #51
Yes please do! I had a look at it, and I think it's pretty much good to go! I would maybe do some very minor edits around naming conventions of our features and maybe a bit more internal linking if that's fine for you.

MD file and images would be great!

[2019-10-18 13:24] Liz0 commented on #50
Hey @teemutammela , thanks so much! The structure looks great. Could you flesh it out with a little more detail?

Thanks!!

[2019-10-18 21:32] azer53 opened #52 "Article: Creating an automated slug with contentful"
Hi!

Liz and Shy contacted me regarding an article on my personal blog.
If you can, you can review and give some feedback. Would love some tips.
Feel free to reach out with questions or if you need additional information!

Link:
https://ecolpaert.com/creating-an-automated-slug-with-contentful

Kind regards

Eli

[2019-10-18 21:34] azer53 commented on #38
Wanting to write about this for a whole time, if the request is still needed, happy to help!

[2019-10-19 22:28] Shy commented on #38
Yep. We're still looking for this. Would you be able to create a small [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) so we can give you feedback before you start writing?

[2019-10-20 00:04] Shy commented on #52
Hey Eli,

This looks great. Any chance you'd be able to put this in a google doc for us so we can give feedback?

[2019-10-21 15:23] Shy commented on #51
Hey @allanwhite Just wanted to bump you on sending the markdown and images over. Feel free to shoot me an email if that's easier than GitHub. I'm shy@Contentful.com

[2019-10-21 15:29] Shy commented on #48
Sorry on my slow response time here. I was at JAMStackConf all last week and spent the weekend recovering.

I think doing anything about Contentful and Figma would be awesome. I saw your posts about it in the community slack and was hoping you'd be wanting to write about it. Any chance you'd be able to spin up an [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md)

[2019-10-21 17:05] azer53 commented on #52
Sure, here it is: https://docs.google.com/document/d/12sT9Hw-VXtCjMHxZUppioC1Hvc-TdVSEg-nnLOtxReQ/edit?usp=sharing

[2019-10-24 08:56] teemutammela commented on #50
Hi @Liz0 and sorry for the delayed response. Due to the rather non-linear way my brain works, the _"flesh it out with a little more detail"_ part turned out to be a bit challenging for me, so I just finished the whole article. :)

I ended up scrapping some of the topics we originally planned with @Shy, as I felt the article was getting quite lengthy as it is. However, feel free to make editorial c

[2019-10-24 12:26] Liz0 commented on #52
Rad, thank you!!

[2019-10-24 12:28] Liz0 commented on #50
Hey no worries!! I'm pretty nonlinear myself ;)

Thanks for sending the draft, we'll get back to you with edits soon! And I'll make sure to update your bio, no problem.

[2019-10-24 13:35] teemutammela commented on #50
Cool, thanks @Liz0.

[2019-10-24 19:28] Shy commented on #50
This article is really well written. I honestly only have some super minor optional comments.

In the WebP section you could add a practical example of what the file size reduction looks like going from JPEG to WebP. We'd be happy to include both of those images in the blog too so you could share that it doesn't have a quality impact either.

Liz is going to take a look, but from my end I'm 👍🏿 on

[2019-10-24 20:20] teemutammela commented on #50
Thanks, I'm glad you liked it. By all means feel free to add practical examples. I was actually expecting that suggestion, but since I didn't have the technical details how you usually handle file attachments etc. in the blog articles, I thought it best to leave it up to you.

[2019-10-25 06:03] teemutammela commented on #50
Here are two sample images where the JPEG artefacts are really noticeable compared to WebP. The original image is an 900x900 PNG, both compressed with 70% quality. The artwork is made by me, so no copyright infringement. :)

WebP: https://images.ctfassets.net/8447ijx3djn4/68gLXgZKkb1G4cSofewsPd/2a091db21a8686917fa0b5f2a841258c/kickin_it_old_school.png?w=450&h=450&fm=webp&q=70

JPEG: https://images

[2019-10-25 18:43] allanwhite commented on #51
@shy missed your notifs, here you go!

### Image assets

![blog-relationships-data-modeling](https://user-images.githubusercontent.com/887931/67595918-82603980-f71c-11e9-8098-6d7345bd4c68.jpg)

![blog-relationships-data-modeling-breakdown](https://user-images.githubusercontent.com/887931/67595604-eafae680-f71b-11e9-8bf1-48cd96e85fcf.jpg)

![datica blog screenshot](https://user-images.githubusercon

[2019-10-25 18:52] allanwhite commented on #48
@Shy I'm going to have to come back to this (job hunting! =) I would be up for a video chat to talk through possibilities (your dev experience would be useful). The video itself might be worth putting in a post. Basically UX product discovery. Probably need a storyboard to summarize the output of that.

Ideas to chew on (CF + Figma automated design workflow):

* I wonder if a figma plugin could ta

[2019-10-28 16:15] Shy commented on #38
@azer53 just wanted to check in and see if you still wanted to work on this post? Happy to give you feedback if you've got any question or concerns.

[2019-10-30 14:44] Liz0 commented on #51
Hey Alan! Thank you so much and sorry for the wait, I was on holiday for a few days. I'll get to editing this tomorrow!

[2019-10-31 20:20] arhoy commented on #38
Hello! I am interested in writing an article for you guys using Gatsby + Contentful + Snipcart for ecommerce. Are you guys still open ?!

[2019-11-01 16:45] Shy commented on #50
We just published the post! https://www.contentful.com/blog/2019/10/31/webp-source-sets-images-api/ 👯‍♂️🎈

I'm going to email you separately to sort out sending you swag and the amazon gift card. Let me know if we need to change or adjust anything.

[2019-11-01 16:45] #50 closed

[2019-11-01 16:54] teemutammela commented on #50
Excellent! Everything looks good, thanks @Shy.

[2019-11-01 18:28] heyitstowler opened #53 "Article: Managing tracking pixels with contentful"
Hi! Shy commented on an implementation I shared in the Contentful community slack, so I'm opening an issue here.

Topic idea: When published sponsored or branded content, clients often bring their own tracking pixels to measure visitor impressions. Here's how you can implement a Tracking Pixel model in Contentful that will let you seamlessly incorporate tracking pixels and client campaigns into yo

[2019-11-01 18:33] Shy commented on #53
Hey @heyitstowler, glad to see that you opened up the issue! I'm really excited about this one.

Would you be able to create a small [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) so we can give you feedback before you start writing?

[2019-11-01 18:34] Shy commented on #38
Hey @arhoy, yep we're still open. I'll reassign the ticket to you.

Would you be able to create a small [outline](https://github.com/contentful/contribution-program/blob/master/OUTLINE.md) so we can give you feedback before you start writing?

[2019-11-01 18:59] heyitstowler commented on #53
# Outline

- [ ] Why you might want to have tracking/impression pixels in your CMS _(I'm very open to hook ideas)_
- [ ] What you will learn today:
  - [ ] How to create an effective tracking pixel model
  - [ ] How to build it into your views
  - [ ] How to use a Campaign model to make the most out of linked entries
- [ ] Prerequisites:
  - [ ] Some familiarity with contentful modeling _(does thi

[2019-11-03 23:40] arhoy commented on #38
Okay I can create an outline. Where should I send the outline to?

[2019-11-03 23:49] Shy commented on #38
You can just post it here.

[2019-11-04 00:10] arhoy commented on #38
### Title: Building an ecommerce site with Gatsby, Contentful and Snipcart

Technical Background:
Some familiarity with React, Gastby or JavaScript.

Intro:
Coming from a React background with some experience in Gatsby a static site generator, I wanted to use the JAM stack to create a blazingly fast, free yet powerful ecommerce solution that could work for both small or med size companies and coul

[2019-11-04 15:56] azer53 commented on #52
Hi,
Do you have some feedback?
Thanks!

[2019-11-04 16:04] Liz0 commented on #52
Hey, sorry for the wait! I'm working on a somewhat longer backlog of edits. I'll have a look at it in the next day or so!

[2019-11-04 17:12] heyitstowler commented on #53
What is the timeline typically expected for a post? Trying to figure out how best to slot this in with various other life priorities!

[2019-11-04 18:10] Shy commented on #53
This is a really detailed outline. I'm a big fan. I'm really excited to see how you cover building it into your views. Have you built a UI Extension for this?

I don't have any major comments right now, so I'm going to punt this over into the writing stage. The timeline is up-to you, although typically most folks take about a week or two to finish a first draft. Since you're doing the work we're h

[2019-11-04 18:12] Shy commented on #48
Sorry on my slow response to this. A video chat would be great. What's your schedule like for Thursday or Friday? I'm open both days anytime after 1pm EST.

[2019-11-04 18:22] Shy commented on #38
Would it be possible for you to mention the snipcart extension we have in our marketplace?

Otherwise I'm cool with this outline. I'm gonna move it into the writing stage.

[2019-11-04 19:04] Liz0 commented on #51
Hey Allan, I did some very light editing on this mostly for specific terms we use to refer to our product features. I've requested a header from our design team and will check when we can slot it in on our editorial calendar. I'll keep you in the loop!

[2019-11-05 19:06] arhoy commented on #38
Okay great! I will write in the next couple days! Should I post it here too once the draft is completed?

[2019-11-05 19:38] Shy commented on #38
Yep. If you could leave us a google doc Liz and I can start commenting with feedback.

[2019-11-09 19:03] ScreamZ opened #54 "Dead simple NextJS + contentful for beginners, static or SSR"
Hello, I'm writing an article about NextJS and Contentful, especially for beginner and without too much dependencies that make it hard to understand.

The name of the article is going to be:

`The most simple Contentful + React tutorial using a NextJS application 👊🏻`

« A very simple JAM Stack how-to tutorial to use Contentful and React without having to master +1000 tools as prerequisite.»

I wou

[2019-11-13 16:59] Liz0 commented on #51
Hey Allan, this is scheduled to go up next week, we have a bit of a backlog on blog posts to be published at the moment. Thank you for your patience!

[2019-11-13 19:20] ScreamZ commented on #54
@Shy By the time it as been released https://medium.com/javascript-in-plain-english/the-most-simple-contentful-react-tutorial-using-a-nextjs-application-8d0ce4596ad6

Feel free to comment if you've ideas.

Regards

[2019-11-13 19:23] Shy commented on #54
Hey Andréas,

Sorry for my slow response. I didn't get a notification until you tagged me. We'd be happy to repost this article. Would you be able to put it in a google doc so we could provide you some small copy edits?

Best,

Shy

[2019-11-13 19:25] Shy commented on #38
Logging that @arhoy sent me an email with a draft to review. Tagging @Liz0 on the ticket since we're on the editing phase.

[2019-11-13 19:26] Shy commented on #53
@heyitstowler Just wanted to see if you had any additional questions I could help resolve for you?

[2019-11-13 19:41] heyitstowler commented on #53
Nope, no questions! Just unfortunately very strapped for time at the moment!

On Wed, Nov 13, 2019 at 2:26 PM Shy Ruparel <notifications@github.com>
wrote:

--
*Chris Towler*
he/him/his
Software Engineer
Chris@theSkimm.com <name@theskimm.com>  | 631.464.3079

<https://theskimm.com/book>

[2019-11-15 10:08] ScreamZ commented on #54
@Shy https://docs.google.com/document/d/1kyqvJ0qLC6pii9-NXNMcNpFQkcm0FqNqTNAd1BxKWjA/edit?usp=sharing

[2019-11-18 12:42] Liz0 commented on #52
Hey Eli, thanks for your patience! I put my edits in as suggestions, all small grammar/punctuation stuff, would be great if you could go through and accept the changes. There was just one bigger change, the intro section to where you start describing how to implement an automated slug in Contentful. It just needs to be adapted considering it's being reposted to our blog, so people already know us

[2019-11-18 13:38] azer53 commented on #52
Thanks for reviewing, great help! I rewrote the requested bigger change. Could you check if this works for you?

[2019-11-18 13:50] Liz0 commented on #52
Just had another look, thanks for the edit!!! I reworded the first sentence slightly, if it's OK with you it's good to go from my side! Next steps: I request a header from our design team, and queue it up to post. It may take another week or so again since we have a bit of a backlog of posts at the moment and want to space out the community posts :) Thanks for your patience and hard work!!

[2019-11-18 13:58] Liz0 commented on #51
Hi  Allan, I'm queueing this up for tomorrow -- would you like me to use your github profile description for your bio, or the one from the blog that this post was originally published on?

[2019-11-18 15:17] azer53 commented on #52
Sure, accepted the changes! Thanks for the collaboration!

[2019-11-18 17:44] Shy commented on #54
Awesome. I'm gonna put some comments in this afternoon and Liz is gonna take a look later this week.

[2019-11-18 17:54] Shy commented on #49
Hey Malorie,

Just wanted to get back to you about this blog post. You're posts about migrations actually caused us to have a chat internally about our best practices for migrations and we've decided that we want to produce some of our own content around this topic that we'll be putting in the docs. We're not going to be able to moving forward with your blog post at this moment.

That said I know

[2019-11-18 17:54] #49 closed

[2019-11-19 14:52] Shy commented on #51
The article is up! Check it out here: https://www.contentful.com/blog/2019/11/19/keeping-content-models-simpler-reusable-powerful/

[2019-11-19 14:52] #51 closed

[2019-11-21 16:59] heyitstowler commented on #53
Just an update, I'll have a draft this weekend!

[2019-11-22 15:23] ScreamZ commented on #54
@Shy Hey, any news ?

[2019-11-27 10:11] ScreamZ commented on #54
@Shy hello, did you had time to check my article ? :'(

[2019-12-03 09:03] Shy commented on #52
Published at https://www.contentful.com/blog/2019/11/29/creating-automated-slug-with-contentful/

Thanks so much for working with us on this article!

[2019-12-03 09:03] #52 closed

[2019-12-05 12:51] Shy commented on #54
@ScreamZ I'm so sorry I haven't had a chance to take a look at this. I've been a little swamped with the holidays. I'm taking a look right now.

[2019-12-16 15:27] heyitstowler commented on #53
Turns out, a full-time job and part-time grad-school eats up a lot of your time! Anyways, my semester is over and I've finally found some time to start writing my first draft. I'll post back here when I have a draft ready for review.

[2019-12-16 15:28] Shy commented on #53
Thanks for the update. Just a heads up that we're a little clogged up with end of the year stuff so I'm not going to be able to take a look and give feedback until next year. Feel free to take your time with it. :)

[2019-12-18 18:17] youmustfight opened #55 "Article Idea: Winning Organic Search using 'Rich Text'"
Hey folks! 👋

We've been getting a lot of questions about how our 7-person poverty fighting nonprofit has been beating public companies in organic search. An edge we have is how we're using the Rich Text content type to make our contract writers' content highly optimized for advanced SEO features (ex: structuring both in HTML/JSON+LD to ensure Google identifies a page as a How-To guide)

I thought

[2019-12-27 21:21] youmustfight commented on #55
WIP: https://docs.google.com/document/d/1sl_iM7QUdWpS5hkzO3AYRIPCuJvySZxut54OS74qxpU/edit?usp=sharing

[2020-01-02 19:56] Shy commented on #55
Thanks for posting this. It looks great. Sorry for my slow response, you're post came in while we were out on Holiday Break. I've bumped the status to in progress. Let me know when you're ready to move into the review stage.

[2020-01-06 15:39] Shy commented on #55
Just heard that you had a call with Kiersten from our team and the article is ready to review. I'm updating the ticket status to help track it.

[2020-01-13 15:49] Shy commented on #55
Closing this issue since the article is published (https://www.contentful.com/blog/2020/01/13/winning-organic-search-with-rich-text/). Feel free to shoot me an email (Shy @ Contentful) so I can sort out hooking you up with an Amazon Gift Card as a thank you for working with us!

[2020-01-13 15:49] #55 closed

[2020-02-17 18:00] realityking commented on #53
Hey @heyitstowler.

New year, new blog posts :) Are you still working on this post? We'd love to have it.

[2020-02-21 19:01] heyitstowler commented on #53
Yes! It's been on the backburner but would still love to contribute

[2020-02-24 18:03] realityking commented on #53
Good to hear. Let me know when you got the bandwidth and I'm happy to help you get this on our blog :)

[2020-02-25 09:45] realityking commented on #48
Since @allanwhite now works at Contentful 🎉, this article is again free for the taking. Anyone interested?

[2020-02-26 08:41] teemutammela opened #56 "Article: Think Defensible - Hostile Design & Content Modeling"
Hi there,

I wrote an article about applying [Hostile Design](https://en.wikipedia.org/wiki/Hostile_architecture) principles for better content modeling. @shy and I actually discussed about me writing this article ages ago, but life gets in the way. 😄

https://www.evernote.com/l/AQ0_CETElZZCkZ_GWjYwEI2etlwHWOXwhAk

Feel free to change the links to Contentful documentation if you feel that there is

[2020-02-27 10:57] realityking commented on #56
This is awesome @teemutammela! 🎉

What I'm struggling with is the, at least to me, negative connotation of hostile design (unlike defensive design) which you're kinda advocating for. What are you thoughts on that?

Regardless, this is a great article and I'd love to have it on our blog. I'll start the process with our blog team and get back to you ASAP.

[2020-02-27 11:51] teemutammela commented on #56
Hi @realityking, thanks for your positive feedback, I'm glad to hear you liked the article.

I get what you're saying about the negative connotation of the term. I guess it would be entirely possible to re-write the article with minimal effort and do away completely with the term "hostile design" and talk only about "defensible design". Having said that, in the context of the term's origin, it see

[2020-02-27 17:41] teemutammela commented on #56
Hi again @realityking. Here's a new revision based on your feedback. I changed the main title and made some changed to the first chapter. Let me know what you think.

https://www.evernote.com/l/AQ2L9wr3txlFt5xoInk-2BawMtK62S0cTcw

[2020-03-17 12:18] teemutammela commented on #56
Hi @realityking Any update on this blog post? Do you need any revisions from me?

[2020-05-07 15:36] chantelle-s commented on #46
Hi Shy! Currently, I am a content manager/strategist at TELUS and an avid Contentful user. I would be happy to use my experience to write about this topic.

Is this still a topic your team wanted to explore?

[2020-05-11 16:18] eahefnawy opened #57 "An article covering prerendering & server-side rendering"
@stefanjudis as discussed over email, I'd like to contribute an article that explores the concept and implementation of both prerendering & server-side rendering within the context of Nuxt.js applications.

Here's the outline I have in mind:

[code]

I think SEO is one of the biggest concerns for contentful developers, so understanding this stuff is critical. But I'm not sure if you guys already c

[2020-05-11 17:05] Shy commented on #46
Hey @chantelle-s, sorry about my slow response. I just got back from sabbatical and I'm still getting caught up with all things Contentful.

We're still looking for an author on this one. Would you be able to shoot me an email (shy@contentful.com) and I'll make an introduction to our MarCom team who can help get the ball rolling on our side.

[2020-05-11 17:52] Shy commented on #57
Hey @eahefnawy,

I think this looks great. We'd be happy to post this. I just want to make sure that you'd be able to mention Contentful in some capacity so it would make sense for it to place it on our Blog, otherwise this outline looks good to me.

Feel free to shoot me or Stefan an email if you're looking for feedback on the draft.

[2020-05-11 19:33] eahefnawy commented on #57
@Shy thanks for your response. Sounds good. I'm planning to include an example and I think I can fit the Contentful API in there.

[2020-05-11 20:59] Shy commented on #57
Awesome. I'm looking forward to reading it.

[2020-05-12 01:22] chantelle-s commented on #46
No problem at all! I just sent an email - I look forward to hearing from you

[2020-05-13 10:05] teemutammela commented on #56
@realityking or anyone..? Any update? My article has been stuck in limbo for months now. :(

[2020-05-13 14:57] Shy commented on #56
@teemutammela, sorry about the slow response on this. I just got back from Sabbatical so I'll be taking point on this one. I'll get you some feedback by EOD today.

[2020-05-13 17:15] teemutammela commented on #56
@Shy Okay, cool. Thanks for the update. 👍 Please be sure to use the latter revision.

https://www.evernote.com/l/AQ2L9wr3txlFt5xoInk-2BawMtK62S0cTcw

[2020-05-13 21:02] Shy commented on #56
Hey @teemutammela, I think I'm with Rouven on this one. The article still feels a lot more negative in tone than what we typically like to host on our blog. I'm not sure if you're able to strip the references to hostile design without having to restart the piece, but I just don't think it's a fit as it stands right now.

I'm reaching out to our Blog team (they're in Berlin time) to see what they t

[2020-05-14 06:45] teemutammela commented on #56
@Shy Sure, I totally understand where you guys are coming from. We'll want to keep things on a positive note, after all.

All the references to specifically _Hostile Design_ are limited to the first paragraph, so assuming the rest is fine, I'm sure I can work something out.

While I think the "park bench analogy" was a good way to illustrate a real-life example of defensible design in the context

[2020-05-14 10:12] teemutammela commented on #56
Hi @Shy

I revised the article based on your feedback and did away completely with all the references to Hostile Design. In addition, I did some minor rewrites here and there to keep a more upbeat tone overall. Last but not least, the article has a new title.

https://www.evernote.com/l/AQ1fcZAn9fJCnquEzWxYvtwaClHQrKhQFZQ

[2020-05-17 17:45] eahefnawy commented on #57
@Shy the article is ready in markdown format 🙌

How do I deliver it to you guys? Do I send an email to @stefanjudis maybe?! 🤔

[2020-05-17 17:49] Shy commented on #57
Could you share it with me Google docs? We'll have our editing team take a quick grammer pass. shy@contentful.com

[2020-05-18 04:31] eahefnawy commented on #57
Done!

[2020-05-18 05:06] eahefnawy opened #58 "Article: Automatically importing your assets from AWS S3 to Contentful with the Serverless Framework"
@Shy @stefanjudis I think this article would be really helpful especially for users trying to migrate to Contentful from legacy systems that uses S3, or folks that actively use S3 with their application, but need to keep it in sync with Contentful for publishing.

I don't have an outline yet, but in a nutshell, I'll be using the Serverless Framework to subscribe to s3 events, so that each file upl

[2020-05-18 14:05] Shy commented on #56
Hey @teemutammela, I like these changes. Could you share it with me via google docs so our marcom team can make some comments (grammer and stuff)?

[2020-05-18 15:10] teemutammela commented on #56
Hey @Shy. Glad to hear you liked the rewrites. Looking back, I'm pleased that you guys steered me towards this direction, because at the end it yielded a better article. Here's the Google Docs version.

https://docs.google.com/document/d/1c-rivE7z8aqXFpu7glnKlwAJFDrC6gDFUDYv_9atQqA/edit?usp=sharing

[2020-05-19 18:29] Shy commented on #58
Hey @eahefnawy, we try to space out working with the same author so we can see how an article turns out before starting to work on a second post. I'd be happy to chat about this once we get your first post has had a chance to get up on the Contentful site.

[2020-05-19 18:30] Shy commented on #56
Awesome. I've created a ticket with our editors. They should be requesting edit access shortly.

[2020-05-21 05:59] eahefnawy commented on #58
Ok, in that case, I'm looking forward to your feedback on the first article. I already sent the draft.

[2020-05-25 08:59] teemutammela commented on #56
Hey @Shy . I haven't received any edit access requests yet. Is the editorial team swamped with backlog..?

[2020-05-26 17:25] Shy commented on #56
Hey @teemutammela, I bumped our editorial team this morning. We don't have a ton of overlap in our working hours (I'm in NYC, they're in Berlin), so I haven't heard back from them yet.

I did want to let you know that I'm following up and hopefully have something for you in a bit.

[2020-05-26 18:42] teemutammela commented on #56
@Shy Splendid. 🎩👌

[2020-05-29 05:48] teemutammela commented on #56
I have approved all the suggestions by the editorial team, so all good to go on my end. 👍

[2020-05-29 18:31] Shy commented on #56
Awesome. I'll coordinate with our editorial team to see if we can get a date to publish for you,

[2020-05-31 14:50] eahefnawy commented on #57
Hey @Shy, I haven't heard from you since I sent you the draft. Any updates?

[2020-06-02 14:30] Shy commented on #56
@teemutammela, we're aiming to publish June 9th. Let me know if that works for you.

[2020-06-02 14:32] Shy commented on #57
Hey @eahefnawy, I saw you accepted all of the edits. Everything looks good on our end. We're aiming to publish your article on June 11th. Let me know if that works for you?

Also if you get a chance would you be able to add a small bio in your document and a picture that we can use in the author section of the article.

[2020-06-02 15:26] teemutammela commented on #56
@Shy Sure, that works perfectly fine. I have no particular preference regarding the publish date, so feel free to publish it at your convenience.

[2020-06-03 10:05] eahefnawy commented on #57
Thanks @Shy ... I've added the picture and the bio. Looking forward to seeing it on the contentful website 🙌

[2020-06-09 08:08] Alex88-hub opened #59 "Article: 10 React Static Site Generators For 2020"

[2020-06-16 01:06] maxemitchell opened #60 "Article Idea: Using the Python Contentful Management API to Simplify the Content Publishing Process"
Hey everyone!

I recently wrote a short [python script](https://github.com/maxemitchell/photo_manager) that uploads a folder of images to both Google Drive and Contentful, and I think it would be a great addition to write an article focusing on the Contentful portion. I also made this [video](https://www.youtube.com/watch?v=CMcOuXH0hck) going over the creation process, but I keep it at a less tech

[2020-06-17 20:15] Shy commented on #60
Hey Max,

Thanks for submitting this. We've actually decide that we're going to be pausing the contribution program going forward. If you do decide to write this article, let me know (shy@contentful.com) and I'd be happy to send you some swag and get the word about it.

Shy

[2020-06-17 20:15] #60 closed

[2020-06-17 20:16] Shy commented on #59
Hey Alex,

Thanks for submitting this. We've actually decide that we're going to be pausing the contribution program going forward. If you do decide to write this article, let me know (shy@contentful.com) and I'd be happy to send you some swag and get the word about it.

Shy

[2020-06-17 20:16] #59 closed

[2020-06-17 20:16] Shy commented on #58
Hey Max,

Thanks for submitting this. We've actually decide that we're going to be pausing the contribution program going forward. If you do decide to write this article, let me know (shy@contentful.com) and I'd be happy to send you some swag and get the word about it.

Shy

[2020-06-17 20:16] #58 closed

[2020-06-17 20:16] #54 closed

[2020-06-17 20:17] #1 closed

[2020-06-17 20:17] #2 closed

[2020-06-17 20:17] #3 closed

[2020-06-17 20:17] #6 closed

[2020-06-17 20:17] #38 closed

[2020-06-17 20:17] #39 closed

[2020-06-17 20:17] #40 closed

[2020-06-17 20:17] #41 closed

[2020-06-17 20:17] #42 closed

[2020-06-17 20:17] #43 closed

[2020-06-17 20:17] #44 closed

[2020-06-17 20:17] #45 closed

[2020-06-17 20:17] #46 closed

[2020-06-17 20:17] #47 closed

[2020-06-17 20:17] #48 closed

[2020-06-17 20:19] Shy commented on #53
Hey Chris,

I'm just closing this issue, since it's been a little bit since we last heard from you. Feel free to shoot me an email (shy@contentful.com) if you'd like feedback on a draft.

Best,

Shy

[2020-06-17 20:19] #53 closed